{% extends "doctocnet/base.html" %}
{% load i18n %}
{% block title %}{{view.title}}{% endblock title %}
{% block head_meta %}
{{ block.super }}
{% include "moderation/twitter_card.html" %}
{% endblock head_meta %}
{% block content %}
<h2>{{view.title}}</h2>
<a href="{% url "landing:moderation" %}">{% trans "Join us!" %}</a>


{% for chunk in moderators %}
<div class="row">
{% for moderator in chunk %}
<div class="column">
  <div class="card" style="width: 14rem;">

    <img class="card-img-top" src="{{moderator.avatar}}" alt="@{{moderator.screen_name}} Twitter avatar">
    <div class="card-header">{{moderator.name}}</div>
    <div class="card-footer">
      <a href="https://twitter.com/{{moderator.screen_name}}" class="card-link">@{{moderator.screen_name}}</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}