{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
<style>
#div_id_message {
    display: none;
}
</style>
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endblock head_javascript %}


{% block content %}
<p>Merci. Nous allons traiter votre inscription.</p>
<p>Vous aurez bientôt accès au forum et à tous nos services.</p>
<p>
Si ce n'est pas déjà fait, nous vous prions de suivre le compte Twitter @{{ view.kwargs.screen_name }} pour
recevoir notre DM (message privé) de confirmation.
</p>
<p>
Si votre compte Twitter est protégé ("verrouillé"), merci d'accepter la demande d'abonnement de @{{ view.kwargs.screen_name }}.
Le compte @{{ view.kwargs.screen_name }} doit pouvoir lire vos tweets pour que nos modérateurs puissent passer en revue votre demande d'abonnement. 
</p>
<p>
Vous pouvez nous contacter via notre <a href="{% url 'gpgcontact:contact-form' %}">formulaire sécurisé</a>.
</p>
{% endblock %}

