<p>{% load landing_links %} {% load landing_tags %} {% load moderator %}</p>
<p>Version du 17/10/2019.</p>
<p>Ces règles de fonctionnement sont inscrites dans le code source et s’appliquent au robot Twitter {% bot_link_text %}.</p>
<p>Vous pouvez aussi lire nos recommandations de bonnes pratiques à l’usage des utilisateurs: la <a href="/guidelines">Charte</a> des utilisateurs du bot.</p>
<h2 id="hashtag">Hashtag</h2>
<p>Je retweete les questions contenant le hashtag {% hashtag_lst %}.</p>
<h2 id="threads-fils">Threads (fils)</h2>
<p>Une question peut être contenue dans un seul tweet, ou bien elle peut s’étaler sur plusieurs tweets (un fil ou thread). Si je détecte le hashtag et un point d’interrogation dans 1 fil, je retweete le 1er tweet du fil. Il suffit d’écrire le hashtag {% hashtag_lst %} une seule fois dans le fil. Le hashtag peut être dans le premier tweet, dans le dernier tweet ou dans un tweet intermédiaire.</p>
<h2 id="catégories-professionnelles">Catégories professionnelles</h2>
<p>Je retweete exclusivement les comptes Twitter qui, selon mes modérateurs humains, appartiennent à une personne exerçant l’une de ces professions:</p>
<p>{% retweeted_category_ul %}</p>
<p>D’autres professions de santé pourront être ajoutées ultérieurement après référendum.</p>
<h2 id="followers">Followers</h2>
<p>Je retweete uniquement mes followers. Le billet de blog <a href="https://doctoctoc.net/blog/suivre-bot-retweet/">Suivre le bot pour être retweeté·e</a> explique pourquoi.</p>
<h2 id="thèmes">Thèmes</h2>
<p>J’essaie de retweeter uniquement les questions qui se rapportent à ces thèmes constatés et largement admis par la communauté {% hashtag_lst %}:</p>

{% community_name as community %}
{% with community|cut:"test" as community_root %}
{% if community_root == "doctoctoc" %}

<ul>
<li>démarche diagnostique</li>
<li>prise en charge thérapeutique</li>
<li>question administrative</li>
<li>organisation du cabinet</li>
<li>matériel médical</li>
<li>quotidien professionnel</li>
<li>relation interprofessionnelles</li>
</ul>

{% elif community_root == "pharmatoctoc" %}

<ul>
<li>question administrative</li>
<li>organisation de l’officine</li>
<li>quotidien professionnel</li>
<li>relations interprofessionnelles</li>
</ul>

{% endif %}
{% endwith %}

<h2 id="publicité">Publicité</h2>
<p>J’essaie dans la mesure du possible de ne pas retweeter la publicité.</p>
<h2 id="retweets">Retweets</h2>
<p>Je ne retweete pas les retweets.</p>
<h2 id="citations">Citations</h2>
<p>Je ne retweete pas les citations, c’est à dire des tweets citant un autre tweet. Un retweet avec commentaire est une citation.</p>
<h2 id="réponses">Réponses</h2>
<p>Je ne retweete pas les réponses. Mentionner un compte au tout début d’un tweet est considéré par Twitter comme une réponse.</p>
<h2 id="questions-ou-affirmations">Questions ou affirmations?</h2>
<p>Je retweete uniquement les questions. Une question doit comporter un point d’interrogation.</p>
