{% extends "doctocnet/base.html" %}

{% load static %}
{% load opengraph_tags %}
{% load i18n %}

{% load landing_links %}
{% load landing_tags %}
{% load community_text %}
{% load opengraph_tags %}

{% block head_meta %}

{% static "landing/images/rules.jpg" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image %}
{% with request.build_absolute_uri as og_url %}
{% twitter_bot_username as bot %}
{% trans "Rules of" as title %}
{% with title|add:" @"|add:bot as og_title %}
{% trans "These are the rules followed by the bot." as og_description %}
{{ block.super }}
{% opengraph %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock head_meta %}

{% block content %}

<h1>{% block title %} {% trans "Laws of robotics" %} {% endblock title %}</h1>

{% community_text "rules" %}

{% endblock content %}

