configtest
configprod
configtest.json
configprod.json
last_id_hashtag_*
friends
bio*
docs
docstest

# Development
/env
status_*

# Python
*.pyc

# loggin
error.log
info.log
debug.log

# eclipse
.project
.pydevproject
.settings

# Hypothesis testing module dir
src/.hypothesis

src/media/twitter/profile/images/mini
src/media/twitter/profile/images/bigger
src/media/twitter/profile/images/normal

# artefact of celery beat
src/celerybeat-schedule.db
src/celerybeat.pid
