configtest
configprod
configtest.json
configprod.json
last_id_hashtag_*
friends
bio*
docs
docstest

# Development
/env
status_*

# Python
*.pyc

# loggin
error.log
info.log
debug.log

# eclipse
.project
.pydevproject
.settings

# Hypothesis testing module dir
src/.hypothesis

src/media

# artefact of celery beat
src/celerybeat-schedule.db
src/celerybeat.pid

# ignore private subfolder of static folders
**/static/private

# ignore django_celery_beat default db file
django_celery_beat.schedulers:DatabaseScheduler.db

#mypy
src/.mypy_cache
src/*/.mypy_cache

# coverage
src/.coverage

# geckodriver logs (selenium)
src/geckodriver.log

# eggs cache
.eggs
