[settings]
search_query:
# Leave empty for all languages
tweet_language:
number_of_rt:

# Create your app on http://apps.twitter.com
[twitter]
ACCOUNT ID: 
consumer_key:
consumer_secret:
access_token:
access_token_secret:

[DATABASE]
TYPE: mysql
DRIVER: pymysql
USER: root
PASSWORD:
HOST: localhost
NAME: test
URL: %(TYPE)s+%(DRIVER)s://%(USER)s:%(PASSWORD)s@%(HOST)s/%(NAME)s
