{
"settings":{
    "search_query":"#hashtag",
    "tweet_language":"",
    "number_of_rt":20,
    "bot_id":123456789
    },
"whitelist":{
     "slugs":["this", "that"],
     "file":"filename"
     },
"twitter":{
     "consumer_key":"xxx",
     "consumer_secret":"xxx",
     "access_token":"xxx",
     "access_token_secret":"xxx"
     }
}
