{% extends "doctocnet/base.html" %}

{% load static %}
{% load landing_links %}
{% load landing_tags %}

{% block head_meta %}
{% static "landing/images/magna_carta.jpg" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image %}
{% with request.build_absolute_uri as og_url %}
{% with twitter_site="@DocTocTocBot" twitter_creator="@MedecineLibre" og_title="Charte 🤖@DocTocTocBot" og_description="Charte des utilisateurs de @DocTocTocBot: recommandations de bonne pratique" %}
{{ block.super }}
{% include "doctocnet/twitter_opengraph.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock head_meta %}

{% block content %}

<h1>{% block title %} Charte des utilisateurs {% endblock title %}</h1>

<p>Nous prions les personnes souhaitant être retweetées par le bot de suivre les recommandations de bonne pratique inscrites dans cette charte.</p>
<p>Le fait de suivre {% bot_link_text %} implique d’accepter ces recommandations et de tenter de les suivre.</p>
<p>Cette charte est le fruit d’une réflexion collective menée avec les modérateurs du bot. Tout professionnel de santé peut participer à son évolution en rejoignant le DM collectif des modérateurs: il suffit d’en faire la demande en envoyant 1 DM à {% bot_link_text %}</p>
<p>Vous pouvez également consulter les <a href="/rules">règles de fonctionnement du robot</a>.</p>

{% community_name as community %}
{% with community|cut:"test" as community_root %}
  {% if community_root == "doctoctoc" %}
    {% include "landing/guidelines/doctoctoc.html" %}
  {% elif community_root == "pharmatoctoc" %}
    {% include "landing/guidelines/pharmatoctoc.html" %}
  {% endif %}
{% endwith %}

{% endblock content %}

