{% extends "doctocnet/base.html" %}

{% load static %}
{% load opengraph_tags %}
{% load i18n %}

{% load landing_links %}
{% load landing_tags %}
{% load community_text %}
{% load opengraph_tags %}

{% block head_meta %}

{% static "landing/images/magna_carta.jpg" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image %}
{% with request.build_absolute_uri as og_url %}
{% bot_screen_name as bot %}
{% trans "User Charter: Good Practice Guidelines" as title %}
{% with "@"|add:bot|add:" "|add:title as og_title %}
{% trans "Please read those guidelines before you start interacting with members of our community." as og_description %}
{{ block.super }}
{% opengraph %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock head_meta %}

{% block content %}

<h1>{% block title %} {% trans "Community guidelines" %} {% endblock title %}</h1>

{% community_text "guidelines" %}

{% endblock content %}

