{% load static %}
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Construisons ensemble un réseau social indépendant!</h3>
  <img src="{% static "/landing/lego-3d-rectangle-outline-blue.png" %}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="256" height="256">
  <p>Nous, professionnels de santé, souhaitons échanger et nous entraider efficacement et en toute indépendance.</p>
  <button id="donate" type="button" class="btn btn-outline-primary">Je soutiens!</button>
</div>