{% load static %}
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Construisons ensemble un réseau social professionnel indépendant!</h3>
  <img src="{% static "/landing/lego-3d-rectangle-outline-blue.png" %}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="256" height="256">
  <p>
  Nous, professionnels de santé, participons bénévolement au réseau #DocTocToc
  et souhaitons continuer à échanger et à nous entraider efficacement et en
  toute indépendance, sans publicité ni spam.
  </p>
  <p>
  Contribuez au développement de
  <a href="https://twitter.com/doctoctocbot">@DocTocTocBot</a> et des apps web
  <a href="/">DocTocToc.net</a>.
  </p>
  <button id="donate" type="button" class="btn btn-outline-primary">Je soutiens!</button>
</div>