<div class="container-fluid bg-2 text-left">
  <h4>Moteur de recherche
  <span class="badge badge-info">24h</span>
  <span class="badge badge-pill badge-primary">1200€</span></h4>
  <p>Some quick example text to build on the card title and make up the bulk
    of the card's content.</p>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left">
  <h4>Question anonyme
  <span class="badge badge-info">16h</span>
  <span class="badge badge-pill badge-primary">800€</span></h4>
  <p>Some quick example text to build on the card title and make up the bulk
    of the card's content.</p>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-2 text-left">
  <h4>Booster une question
  <span class="badge badge-info">24h</span>
  <span class="badge badge-pill badge-primary">1200€</span></h4>
  <p>Some quick example text to build on the card title and make up the bulk
    of the card's content.</p>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left">
  <h4>Recherche scientifique & thèse
  <span class="badge badge-info">0h</span>
  <span class="badge badge-pill badge-primary">0€</span></h4>
  <p>Some quick example text to build on the card title and make up the bulk
    of the card's content.</p>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-2 text-left">
  <h4>Hébergement bot <a href="https://twitter.com/doctoctocbot">@DocTocTocBot</a> & site web <a href="https://doctoctoc.net">docotoctoc.net</a>
  <span class="badge badge-info">0h</span>
  <span class="badge badge-pill badge-primary">0€</span></h4>
  <p>Some quick example text to build on the card title and make up the bulk
    of the card's content.</p>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
</div>