{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
<link rel='stylesheet' href='{% static "optin/optin-api/bundle.css" %}'>
<link rel='stylesheet' href='{% static "optin/optin-api/global.css" %}'>
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endblock head_javascript %}


{% block content %}
  {% if expanded_url %}
  <!--Homepage: <a href="{{ expanded_url }}">{{ display_url }}</a></li-->
  {% endif %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3">
      {% profile %}
    </div>
    <div class="col-md-auto">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">{% trans "Profile" %}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#contact" data-toggle="tab" class="nav-link">{% trans "Contact info" %}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#socialauth" data-toggle="tab" class="nav-link">{% trans "Social authentication" %}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#receipt" data-toggle="tab" class="nav-link">{% trans "Receipt" %}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#options" data-toggle="tab" class="nav-link">{% trans "Options" %}</a>
                </li>
                {% if user|is_moderator %}
                <li class="nav-item">
                    <a href="" data-target="#moderation" data-toggle="tab" class="nav-link">{% trans "Moderation" %}</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content py-4">
                
                <div class="tab-pane" id="contact">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="{% if user.email %}{{ user.email }}{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Company</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Website</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="url" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="Street" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="City" disabled>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" value="{{ location }}" placeholder="Country" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                            <div class="col-lg-9">
                                <select id="user_time_zone" class="form-control" size="0" disabled>
                                    <option value="CET" selected="selected">Central European Time (CET)</option>
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="{{ user.get_username }}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel" disabled>
                                <input type="button" class="btn btn-primary" value="Save Changes" disabled>
                            </div>
                        </div>
                    </form>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $(".create-customer").modalForm({
        formURL: "{% url 'landing:create_customer' %}"
    });

});
</script>
<!-- Create book button -->
<button class="create-customer btn btn-primary" type="button" name="button">Add billing data</button>


                </div>

                <div class="tab-pane" id="receipt">
                <p>
                Vos factures pourront être éditées et téléchargées à partir du 1er juin 2019. Nous vous prions de nous excuser pour ce délai. Merci de votre patience.
                </p>
                </div>

                <div class="tab-pane" id="options">
                {% if user.socialuser %}
                <category></category>
                <script type="text/javascript" src="{% static "optin/optin-api/bundle.js" %}"></script>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
