{% extends "doctocnet/base.html" %}

{% block head_meta %}
{% with twitter_site="@DocTocTocBot" twitter_creator="@MedecineLibre" og_url="https://doctoctoc.net/spamtoctoc" og_title="SpamTocToc" og_description="Liste publique des comptes Twitter qui spamment #DocTocToc." og_image="" %}
{{ block.super }}
{% include "doctocnet/twitter_opengraph.html" %}
{% endwith %}
{% endblock head_meta %}

{% block content %}

<h1>{% block title %} SpamTocToc {% endblock title %}</h1>

{% include "landing/spamtoctoc/content.html" %}
{% endblock content %}