{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
{% load i18n %}

<div class="container">

{% if form.errors %}
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
  {% else %}
    <p>{% trans 'Please login' %}</p>
  {% endif %}
{% endif %}

{% if 'twitter' in backends.not_associated %}
<a href="{% url 'social:begin' 'twitter' %}?next={{ request.GET.next }}">
<img border="0" alt="{% trans 'Sign in with Twitter' %}" src="{% static "doctocnet/sign_in_with_twitter_button/sign-in-with-twitter-gray.png" %}" width="158" height="28">
</a>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
  <!--td>{{ form.username.label_tag }}</td-->
  <td>{{ form.username|as_crispy_field }}</td>
</div>
<div class="form-group">
  <td>{{ form.password|as_crispy_field }}</td>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-success">login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">{% trans 'Reset your password' %}</a></p>

</div>

{% endblock %}
