{
    "test": true,
    "production": false,
    "settings":{
        "tweet_language":"",
        "number_of_rt":20,
        "bot_id": 123456789,
        "bot_screen_name": "coolbot"
    },
    "keyword_track_list": ["#doctoctoctest", "#docstoctoctest"],
    "keyword_retweet_list": ["#doctoctoctest"],
    "postgresql":{
        "username":"xxx",
        "password":"xxx",
        "host":"127.0.0.1",
        "port":"5432",
        "database":"xxx"
    },
    "moderation":{
        "dev":true,
        "moderator":false
    }
}