{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="icon" data-emoji="🤖" type="image/png">

<script async src="{% static "/landing/javascript/favicon.js" %}"></script>
{% block head_favicon %}
{% endblock head_favicon %}
{% block head_meta %}
{% block head_meta_charset %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock head_meta_charset %}
{% block head_meta_contentlanguage %}
<meta http-equiv="Content-Language" value="fr" />
{% endblock head_meta_contentlanguage %}
{% block head_meta_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock head_meta_viewport %}
{% endblock head_meta %}

{% block head_css %}
<!-- Bootstrap CSS -->
<!-- Inform modern browsers that this page supports both dark and light color schemes,
  and the page author prefers light. -->
<meta name="color-scheme" content="light dark">
<script>
  // If `prefers-color-scheme` is not supported, but @media query is, fall back to light mode.
  // i.e. In this case, inject the `light` CSS before the others, with
  // no media filter so that it will be downloaded with highest priority.
  if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
    document.documentElement.style.display = "none";
    document.head.insertAdjacentHTML(
      "beforeend",
      "<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css\" onload=\"document.documentElement.style.display = ''\">"
    );
  }
</script>
<!-- Load the alternate CSS first ... -->
<link rel="stylesheet" href="{% static "/doctocnet/bootstrap_night/bootstrap-night.css" %}" media="(prefers-color-scheme: dark)">
<!-- ... and then the primary CSS last for a fallback on very old browsers that don't support media filtering -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<!-- Bootstrap CSS -->
<!--  link rel="stylesheet" href="{% static "doctocnet/_nav.scss" %}" type="text/css"-->
<!--  link rel="stylesheet" href="{% static "doctocnet/_navbar.scss" %}" type="text/css" -->
<!--  link rel="stylesheet" href="{% static "doctocnet/_reboot.scss" %}" type="text/css" -->
<!--  link rel="stylesheet" href="{% static "doctocnet/mynavbar.scss" %}" type="text/css" -->
{% endblock head_css %}

{% block head_javascript %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
{% endblock head_javascript %}

<style>
body { padding-top: 70px; }
{% block style %}
{% endblock style %}
</style>
<title>{{ site.name }} | {% block title %} Home {% endblock title %}</title>

{% block head_extra %}
{% endblock head_extra %}

</head>

<body>
<script>
$(document).ready(function() {
$('body').on('mouseenter mouseleave', '.dropdown', function (e) {
    var dropdown = $(e.target).closest('.dropdown');
    var menu = $('.dropdown-menu', dropdown);
    dropdown.addClass('show');
    menu.addClass('show');
    setTimeout(function () {
        dropdown[dropdown.is(':hover') ? 'addClass' : 'removeClass']('show');
        menu[dropdown.is(':hover') ? 'addClass' : 'removeClass']('show');
    }, 300);
});
});
</script>
{% include "doctocnet/navbar.html" %}
  <main role="main" class="container-fluid">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
  </main>
  
  {% block footer_javascript %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  {% endblock footer_javascript %}

  </body>

</html>