{% load i18n %}

<!-- django-meta & wagtail-metadata-mixin -->
{% load meta %}

<!DOCTYPE html>
<html>

<!-- django-meta & wagtail-metadata-mixin -->
<head {% meta_namespaces %}>
{% include 'meta/meta.html' %}

<link rel="icon" data-emoji="🤖" type="image/png">

{% load static %}
<script async src="{% static "/landing/javascript/favicon.js" %}"></script>
{% block head_favicon %}
{% endblock head_favicon %}
{% block head_meta %}
{% block head_meta_charset %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock head_meta_charset %}
{% block head_meta_contentlanguage %}
<meta http-equiv="Content-Language" value="fr" />
{% endblock head_meta_contentlanguage %}
{% block head_meta_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock head_meta_viewport %}
{% endblock head_meta %}

{% block head_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--  link rel="stylesheet" href="{% static "doctocnet/_nav.scss" %}" type="text/css"-->
<!--  link rel="stylesheet" href="{% static "doctocnet/_navbar.scss" %}" type="text/css" -->
<!--  link rel="stylesheet" href="{% static "doctocnet/_reboot.scss" %}" type="text/css" -->
<!--  link rel="stylesheet" href="{% static "doctocnet/mynavbar.scss" %}" type="text/css" -->
{% endblock head_css %}

{% block head_javascript %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>                   
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
{% endblock head_javascript %}

{% block style %}
<style>
body {
  padding-top: 4.5rem;
}
</style>
{% endblock style %}



<!-- The following script is necessary for navbar dropdown toogle to work. -->
<!--script>
$(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
</script-->
<script>
$(document).ready(function() {
$('body').on('mouseenter mouseleave', '.dropdown', function (e) {
    var dropdown = $(e.target).closest('.dropdown');
    var menu = $('.dropdown-menu', dropdown);
    dropdown.addClass('show');
    menu.addClass('show');
    setTimeout(function () {
        dropdown[dropdown.is(':hover') ? 'addClass' : 'removeClass']('show');
        menu[dropdown.is(':hover') ? 'addClass' : 'removeClass']('show');
    }, 300);
});
});
</script>

<title>{% block title %} Home {% endblock title %} | {{ site.name }}</title>

{% block header_javascript %}
<!--  add your scripts here -->
{% endblock header_javascript %}
</head>

  <body data-spy="scroll" data-target="#navbar-main">

  {% include "doctocnet/navbar.html" %}
  
  <main role="main" class="container">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
  </main>
  
  {% block footer_javascript %}
  {% endblock footer_javascript %}

  </body>

</html>