{% load static %}
{% load i18n %}
{% load auth_extras %}
{% load auth_discourse %}
{% load landing_links %}
{% load landing_tags %}
{% load community_text %}
<nav id="navbar-main" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">{{ site.name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'landing:index' %}">{% trans "Home" %}<span class="sr-only">(current)</span></a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">{% trans "Logout" %}</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'landing:user' %}">{{ user.get_username }}</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{request.path}}">{% trans "Login" %}</a></li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Charts" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'charts:daily' %}">{% trans "Daily" %}</a>
          <a class="dropdown-item" href="{% url 'charts:weekly' %}">{% trans "Weekly" %}</a>
          <a class="dropdown-item" href="{% url 'charts:monthly' %}">{% trans "Monthly" %}</a>
          <a class="dropdown-item" href="{% url 'charts:yearly' %}">{% trans "Yearly" %}</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'landing:faq' %}">{% trans "FAQ" %}</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "About" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuAbout">
          <a class="dropdown-item" href="{% url 'landing:about' %}">{% trans "About us" %}</a>
          <a class="dropdown-item" href="{% url 'landing:guidelines' %}">{% trans "Guidelines" %}</a>
          <a class="dropdown-item" href="{% url 'landing:rules' %}">{% trans "Bot rules" %}</a>
          {% community_text "antiracism" as antiracism %}
          {% if antiracism %}
          <a class="dropdown-item" href="{% url 'landing:antiracism' %}">{% trans "Antiracism" %}</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'landing:values' %}">{% trans "Values" %}</a>
          <a class="dropdown-item" href="{% url 'landing:privacy' %}">{% trans "Privacy" %}</a>
          <a class="dropdown-item" href="{% url 'landing:moderation' %}">{% trans "Moderation" %}</a>
          <a class="dropdown-item" href="{% url 'moderation:list' %}">{% trans "Moderators" %}</a>
          {% if user|is_moderator %}
          <a class="dropdown-item" href="{% url 'landing:moderator' %}">{% trans "Moderator guide" %}</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'landing:spamtoctoc' %}">{% trans "SpamTocToc" %}</a>
          <a class="dropdown-item" href="{% url 'gpgcontact:contact-form' %}">{% trans "Contact" %}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrowdfunding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Crowdfunding" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuCrowdfunding">
          <a class="dropdown-item" href="{% url 'crowdfunding:start' %}">{% trans "Participate" %}</a>
          <a class="dropdown-item" href="{% url 'crowdfunding:progress' %}">{% trans "Progress" %}</a>
          <a class="dropdown-item" href="{% url 'crowdfunding:fund' %}">{% trans "Funders" %}</a>
        </div>
      </li>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://github.com/doctoctoc/doctoctocbot" title="GitHub" id="navitemGitHub" class="nav-link">
            <i class="bi bi-github"></i>
          </a>
        </li>
        {% mastodon_bot_username as mastodon_flag %}
        {% if mastodon_flag %}
        <li class="nav-item">
          <a href="{% mastodon_bot_url %}" title="{% mastodon_bot_username %}" id="navitemMastodon" class="nav-link">
            <i class="bi bi-mastodon"></i>
          </a>
        </li>
        {% endif %}
        {% twitter_bot_username as twitter_flag %}
        {% if twitter_flag %}
        <li class="nav-item">
          <a href="{% twitter_bot_url %}" title="@{% twitter_bot_username %}" id="navitemBot" class="nav-link">
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if user|is_allowed_discussion %}
        <li class="nav-item">
          <a href="https://discussion.doctoctoc.net" title="{% trans 'Discussion' %}" id="discussion" class="nav-link">
         Forum
          </a>
        </li>
        {% endif %}
        {% if site.community.blog %}
        <li class="nav-item">
          <a href="{{ site.community.blog.url }}" title="{{ site.community.blog.name }}" id="blog" class="nav-link">
         {{ site.community.blog.link }}
          </a>
        </li>
        {% endif %}
        {% if site.community.matrix.authorize %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMessenger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Messenger" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMessenger">
            <a class="dropdown-item" href="{% url 'landing:messenger-get-started' %}">{% trans "Get" %} {medica}</a>
            <a class="dropdown-item" href="{% url 'landing:messenger-why-medica' %}">{% trans "Why" %} {medica}</a>
            <a class="dropdown-item" href="{% url 'landing:messenger-help' %}">{% trans "Help" %}</a>
            <a class="dropdown-item" href="{% url 'landing:messenger-pricing' %}">{% trans "Terms" %}</a>
          </div>
        </li>
        {% endif %}
       
      </ul>
        {% network_navbar %}
    </ul>
  </div>
  </div>
</nav>
