<textarea id="pubkey" style="width: 100%" rows="20" disabled="disabled">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEXHtiIRYJKwYBBAHaRw8BAQdA6IfbzXQikJTNWsbTkhIix2ZFV/j6krLyX/eC
IKE2Tmq0IUplcm9tZSBQaW5ndWV0IDxqZXJvbWVAamVyb21lLmNjPoiWBBMWCgA+
AhsBBQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAFiEEKKJwOI38BPCRCx/bWcwFtl4V
OBcFAmA+7acFCQWkvwYACgkQWcwFtl4VOBfwZQEAxfkQINTMxZMMRiwipwiaY/qq
cKrNqGv1S7rPAaFEDMMA/2/1kZsWDPUu+mSY0Hcalb1nxc0PHuUxSHKvwtiKCnEM
uDgEXHtp0xIKKwYBBAGXVQEFAQEHQBc7NCDXK/rTLW+5TKM7p4xJK8pNOsgTr/0s
2t0sKvtnAwEIB4h+BBgWCgAmAhsMFiEEKKJwOI38BPCRCx/bWcwFtl4VOBcFAmA+
7dsFCQWkt4gACgkQWcwFtl4VOBcp/wEAmM77n0aCY4uSZSuUOVx9MYIrtdokUOuT
dY3VzRMeLM8BAIaZpsbrV8UKQptQCEttGmtyfGgdoO2tsFFLPEMBksMBuDMEXHtq
GxYJKwYBBAHaRw8BAQdAWw/FnTaatOGaHHkR9B9Cs2VqOmgClH35kJ4KTWgVTOyI
9QQYFgoAJgIbAhYhBCiicDiN/ATwkQsf21nMBbZeFTgXBQJgPu3sBQkFpLdRAIF2
IAQZFgoAHRYhBF+kYorr7zibVIFVr7IOQNyFFfrQBQJce2obAAoJELIOQNyFFfrQ
tgQBANqjJjdISWn9q6otjMyG4dKq0yb3Sn8mt+ESUYuH5S/eAP4u5/HssfAOVm5n
iTBdSJHJ+GwLxk8AB+3tKCVrHXpGAQkQWcwFtl4VOBecjwEApqYceMHbJzpQLq5E
lVGe/rbYNrKKRVfrnM9xUyLf7r0BAOnBS7lWe+f+u/mEEaLxr5l1euSALuDoTKaJ
XX08+xwJ
=R9UH
-----END PGP PUBLIC KEY BLOCK-----
</textarea>