<textarea id="pubkey" style="width: 100%" rows="20" disabled="disabled">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEXHtiIRYJKwYBBAHaRw8BAQdA6IfbzXQikJTNWsbTkhIix2ZFV/j6krLyX/eC
IKE2Tmq0IUplcm9tZSBQaW5ndWV0IDxqZXJvbWVAamVyb21lLmNjPoiWBBMWCgA+
FiEEKKJwOI38BPCRCx/bWcwFtl4VOBcFAlx7YiECGwEFCQPCZwAFCwkIBwMFFQoJ
CAsFFgIDAQACHgECF4AACgkQWcwFtl4VOBdToAEAi0qD/wn3svgnzNbh1lP4ExXa
EkC/jQgdxU0x/VOu8GEBAMWkw65iyIAkZrGDQJu4V1ITyR1AmUei0L0zHZSsIO0C
uDgEXHtp0xIKKwYBBAGXVQEFAQEHQBc7NCDXK/rTLW+5TKM7p4xJK8pNOsgTr/0s
2t0sKvtnAwEIB4h+BBgWCgAmFiEEKKJwOI38BPCRCx/bWcwFtl4VOBcFAlx7adMC
GwwFCQPCZwAACgkQWcwFtl4VOBfs/wD+MSZ/1ltshADew0DeeNcJ2BlVigeXlozk
Uf7wfEGIZQwA/3acedPqcBPPvXk30tc9x4dvmtFNiq6n2d7nJRF4fLcNuDMEXHtq
GxYJKwYBBAHaRw8BAQdAWw/FnTaatOGaHHkR9B9Cs2VqOmgClH35kJ4KTWgVTOyI
9QQYFgoAJhYhBCiicDiN/ATwkQsf21nMBbZeFTgXBQJce2obAhsCBQkDwmcAAIEJ
EFnMBbZeFTgXdiAEGRYKAB0WIQRfpGKK6+84m1SBVa+yDkDchRX60AUCXHtqGwAK
CRCyDkDchRX60LYEAQDaoyY3SElp/auqLYzMhuHSqtMm90p/JrfhElGLh+Uv3gD+
Lufx7LHwDlZuZ4kwXUiRyfhsC8ZPAAft7Sglax16RgHGXQD+JOYtqAPOpoyllSrl
1OtyQ4rt4KvebNLiNh8I22WT/xwA/j2kA/PDw89REY8IPV5ngckgHvbg22A+8JSU
JVqVBy8H
=DFH2
-----END PGP PUBLIC KEY BLOCK-----
</textarea>