{% extends "doctocnet/base.html" %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
  {% block container %}
  <div class="container">
  {% block zoom-button %}{% endblock %}
    <div class="row"> 
        <canvas id="myChart">
            <script>


            
                $(document).ready(function(){
                {% block jquery %}{% endblock %}
                })
            </script>
        </canvas>
    </div>
</div>
  
</main><!-- /.container -->
<script>
            $(function(){
                resizeCanvas();
            });

            $(window).on('resize', function(){
                resizeCanvas();
            });

            function resizeCanvas()
            {
                var canvas = $('#canvas');
                canvas.css("width", $(window).width());
                canvas.css("height", $(window).height());
            }
</script>
  {% endblock %}
  




{% endblock %}