{% extends "doctocnet/base.html" %}
{% load static %}
{% block content %}
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script-->
  <script
              src="https://code.jquery.com/jquery-3.6.0.min.js"
              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js" integrity="sha256-Gf7owtNug1Hx/SyBFHX+wOBCo6BH4ucEyTZOD+85yNA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1.2.0"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script-->
  <!--script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js" integrity="sha256-sFB24K2xU2EOgWAtb3ySAGjhMqcUvUJGmwjDcTQa04k=" crossorigin="anonymous"></script-->
  <!--script src="{% static 'charts/js/chartjs-adapter-moment.min.js' %}"></script-->
  <script src="{% static 'charts/js/hammer.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js" integrity="sha256-hbPFD/8jjaql7p/WfrSjdkOomS775cZ4o2bsEtdrw+s=" crossorigin="anonymous"></script>
{% block container %}
  {% block zoom-button %}{% endblock %}
    <div class="chart-container" style="position:static; height:90vh; width:80vw;">
        <canvas id="myChart">
            <script>
                $(document).ready(function(){
                {% block jquery %}{% endblock %}
                })
            </script>
        </canvas>
    </div>
    <script>
            $(function(){
                resizeCanvas();
            });
            $(window).on('resize', function(){
                resizeCanvas();
            });
            function resizeCanvas()
            {
                var canvas = $('#canvas');
                canvas.css("width", $(window).width());
                canvas.css("height", $(window).height());
            }
    </script>
  {% endblock %}
{% endblock %}