{% extends 'charts/base_category.html' %}
{% load i18n %}
{% translate "This is the title" as the_title %}
<script>
{% block jquery %}
var changeScaleTypePlugin = {
		beforeUpdate: function (chartInstance) {
		    var self = this;
		    chartInstance.beforeInit = null;
		    if (chartInstance.options.changeScale) {
		        self.changeScales(chartInstance);
		        if (chartInstance.options.scaleTypeChanged) {
		            chartInstance.options.scaleTypeChanged = false;
		            Object.keys(chartInstance.scales).forEach(function (axisName) {
		                var scale = chartInstance.scales[axisName];
		                Chart.layoutService.removeBox(chartInstance, scale);
		            });
		            chartInstance.initialize();
		        }
		    }
		},
		changeScales: function (chartInstance) {
		    var maxValue = Math.max.apply(null, chartInstance.data.datasets.map(function (dataset) { return Math.max.apply(null, dataset.data); }));
		    var minValue = Math.min.apply(null, chartInstance.data.datasets.map(function (dataset) { return Math.min.apply(null, dataset.data); }));
		    var logMax = Math.floor(Math.log(maxValue) / Math.LN10);
		    var logMin = Math.floor(Math.log(minValue) / Math.LN10);
		    if (logMax - logMin > chartInstance.options.maxRankDifference) {
		        if (!chartInstance.options.scaleTypeChanged && chartInstance.options.scales.yAxes.filter(function (axis) { return axis.type !== 'logarithmic'; }).length) {
		            console.log('logarithmic');
		            chartInstance.options.scaleTypeChanged = true;
		            chartInstance.options.scales.yAxes = Chart.helpers.scaleMerge(Chart.defaults.scale, { yAxes: chartInstance.options.logarithmicScaleOptions }).yAxes;                
		        }
		    } else {
		        if (!chartInstance.options.scaleTypeChanged && chartInstance.options.scales.yAxes.filter(function (axis) { return axis.type !== 'linear'; }).length) {
		            console.log('linear');
		            chartInstance.options.scaleTypeChanged = true;
		            chartInstance.options.scales.yAxes = Chart.helpers.scaleMerge(Chart.defaults.scale, { yAxes: chartInstance.options.linearScaleOptions }).yAxes;
		        }
		    }
		}
};
  var endpoint = "{% url 'charts:creation-follower-data' %}"
  var twitter0 = new Date(2006, 3, 21);
  var today = new Date();

  Chart.defaults.plugins.legend.onHover = function() { 
	   document.body.style.cursor = 'pointer'; 
	};

  Chart.defaults.plugins.legend.onLeave = function() { 
	   document.body.style.cursor = 'unset'; 
	};
  
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'scatter',
          data: {
        	  datasets: data.datasets
          },
          options: {
               changeScale: true,
               // maxRankDifference: 3,
               interaction: {
                   mode: 'index'
               },
               plugins: {
            	   title: {
                       display: true,
                       text: data.title
                   },
                   subtitle: {
                       display: true,
                       text: data.subtitle,
                       color: 'blue',
                       //font: {
                       //size: 12,
                       //family: 'tahoma',
                       //weight: 'normal',
                       //style: 'italic'
                       //},*/
                       padding: {
                         bottom: 10
                       }
                   },
        	       tooltip: {
        	             callbacks: {
        	                 label: function(context) {
        	                     // var label = context.dataset.label;
        	                     return context.raw.screen_name + " | " + context.raw.x + " | " + context.parsed.y;
        	                 }
        	             }
        	      }
               },
              reponsive: true,
              scales: {
            	  y: {
            		  type: 'logarithmic',
                      title: {
                          display: true,
                          text: 'followers (logarithmic scale)'
                      },
                      ticks: {
                          callback: function (value, index, values) {
                              if (value === 300000) return "300K";
                              if (value === 200000) return "200K";
                              if (value === 100000) return "100K";
                              if (value === 50000) return "50K";
                              if (value === 40000) return "40K";
                              if (value === 30000) return "30K";
                              if (value === 20000) return "20K";
                              if (value === 10000) return "10K";
                              if (value === 5000) return "5K";
                              if (value === 4000) return "4K";
                              if (value === 3000) return "3K";
                              if (value === 2000) return "2K";
                              if (value === 1000) return "1K";
                              if (value === 500) return "500";
                              if (value === 250) return "250";
                              if (value === 100) return "100";
                              if (value === 50) return "50";
                              if (value === 10) return "10";
                              if (value === 5) return "5";
                              if (value === 0) return "0";
                              return null;
                          }
                      }
                  },
                  x: {
                      type: 'time',
                      min: twitter0,
                      max: today,
                      position: 'bottom',
                      title: {
                          display: true,
                          text: 'Creation date'
                      },
                      ticks: {
                          major: {
                              enabled: true,
                              fontStyle: 'bold'
                          },
                          source: 'auto',
                          autoSkip: true,
                          autoSkipPadding: 75,
                          maxRotation: 0,
                          sampleSize: 100,
                      }
                  },
              }
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
{% endblock %}
</script>