{% extends "charts/charts.html" %}
{% load i18n %}
{% block title %}{% trans "Daily tweets" %}{% endblock %}
{% block container %}
  <div id="myHighChart"></div>

  <script type="text/javascript">
   $.get('{% url 'charts:questions_daily_data' %}', function (data) {
          Highcharts.chart('myHighChart', {
              chart: data.chart,
              title: data.title,
              subtitle: {
                  text: document.ontouchstart === undefined ?
                      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
              },
              xAxis: data.xAxis,
              yAxis: data.yAxis,
              legend: {
                  enabled: true
              },
              plotOptions: {
                  area: {
                      fillColor: {
                          linearGradient: {
                              x1: 0,
                              y1: 0,
                              x2: 0,
                              y2: 1
                          },
                          stops: [
                              [0, Highcharts.getOptions().colors[0]],
                              [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                          ]
                      },
                      marker: {
                          radius: 2
                      },
                      lineWidth: 1,
                      states: {
                          hover: {
                              lineWidth: 1
                          }
                      },
                      threshold: null
                  }
              },
              series: data.series
          });      });
  </script>
  <!--div id="container" data-url="{% url 'charts:questions_daily_data' %}"></div-->
{% endblock %}