{% extends "charts/charts.html" %}
{% load i18n %}
{% block title %}{% trans "Daily tweets" %}{% endblock %}
{% block container %}
  <div id="myHighChart"></div>

  <script type="text/javascript">
   $.get('{% url 'charts:questions_daily_data' %}', function (data) {
          Highcharts.chart('myHighChart', {
              "chart": {
                  "defaultSeriesType": "column",
                  //"height": 200,
                  "borderRadius": 0,
                  "zoomType": "x"
          },
              title: data.title,
              subtitle: {
                  text: document.ontouchstart === undefined ?
                      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
              },
              xAxis: {
                  startOnTick:true,
                  endOnTick:true,
                  "type": "datetime",
                  "minTickInterval": 86400000
              },
              yAxis: data.yAxis,
              legend: {
                  "layout": "vertical",
                  "style": {},
                  "enabled": true
              },
              plotOptions: {
                  "column": {
                      //"stacking": "normal",
                      //pointWidth:1
                  }
              },
              series: data.series
          });      });
  </script>
  <!--div id="container" data-url="{% url 'charts:questions_daily_data' %}"></div-->
{% endblock %}