{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
{% endblock head_javascript %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

{% include "landing/_modal.html" %}
{% include "landing/usernav.html" %}
    <customer></customer>
    <script type="text/javascript" src="{% static "landing/javascript/customer/build/bundle.js" %}"></script>
    <br>
    <div class="modal-footer">
      <button class="update-customer bs-modal btn btn-primary" type="button" data-form-url="{% url 'landing:update-customer' form.id.value %}">{% trans "Edit the form" %}</button>
    </div>
    <form>
    {% csrf_token %}
    {% crispy form form.helper %}
    </form>

<script type="text/javascript">
$(document).ready(function() {
	$(".update-customer").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
});
</script>
{% endblock %}
{% block footer_javascript %}
{% endblock footer_javascript %}