{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
<link rel='stylesheet' href='{% static "moderation/moderator-api/build/bundle.css" %}'>
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
{% endblock head_javascript %}

{% block content %}
      {% include "landing/usernav.html" %}
      <h5 class="mb-3">{% trans "Collective moderation" %}</h5>
      <main></main>
      <script type="text/javascript" src="{% static "moderation/moderator-api/build/bundle.js" %}"></script>
{% endblock %}