{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
<link rel='stylesheet' href='{% static "optin/optin-api/bundle.css" %}'>
<link rel='stylesheet' href='{% static "optin/optin-api/global.css" %}'>
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endblock head_javascript %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-2">
      {% profile %}
    </div>
    <div class="col col-lg-9">
      {% include "landing/usernav.html" %}
      <h5 class="mb-3">{% trans "Collective moderation" %}</h5>
      <main></main>
      <p>{% trans "You can suspend or resume your participation to collective moderation through the on/off switch." %}</p>
      <p>{% trans "Set if you want to appear on the public list of moderators with the public/private switch." %}</p>
      <script type="text/javascript" src="{% static "moderation/moderator-api/app.js" %}"></script>
    </div>
  </div>
</div>  
{% endblock %}