{% extends "doctocnet/base.html" %}

{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
<style>
.card-img-top {
    width: 200px;
    height: 200px;
}
</style>
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endblock head_javascript %}

{% block content %}
  {% include "landing/usernav.html" %}
    <div class="row">
      <div class="col">
      {% profile %}
      </div>
      <div class="col">
        <h6>{% trans "Recent badges" %}</h6>
        <a href="#" class="badge badge-dark badge-pill">user</a>
        <hr>
        {% trans "Question(s)" %}
        <ul class="list-group">
        {% for label, count in hashtag.items %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            #{{ label }}<span class="badge badge-pill badge-secondary">{{ count }}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col">
        <h5 class="mt-2">{% trans "Recent Activity" %}</h5>
        <table class="table table-sm table-hover table-striped">
          <tbody>                                    
            <tr>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
{% endblock %}