{% extends "doctocnet/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static "/crowdfunding/css/button.css" %}">
{% endblock head_css %}

{% block header_javascript %}
{{ block.super }}
<script src="{% static 'crowdfunding/javascript/tiers.js' %}" type="text/javascript"></script>
{% endblock header_javascript %}

{% block content %}

{% if 'twitter' in backends.not_associated %}
<div class="container-fluid bg-1">
  <p>
    Vous avez un compte Twitter? Merci de vous authentifier!
    <a href="{% url 'social:begin' 'twitter' %}?next={% url 'crowdfunding:start' %}">
      <img border="0" alt="Sign in with Twitter" src="{% static "doctocnet/sign_in_with_twitter_button/sign-in-with-twitter-gray.png" %}" width="158" height="28">
    </a>
  </p>
</div>
{% endif %}

{% include "crowdfunding/tiers.html" %}

<!-- form action="/crowdfunding/home/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form-->

{% crispy form %}

{% endblock %}
