{% load l10n %}
{% load i18n %}
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Progression</h5>
    <p class="card-text">{% trans "Goal" %} <span class="badge badge-secondary">{{ goal }} €</span></p>
    <p class="card-text">{% trans "Current amount" %} <span class="badge badge-primary">{{ current }} €</span></p>
    <hr>
    <div class="progress">
      <div class="progress-bar" style="width:{{ percentage|unlocalize }}%">{{ percentage }}%</div>
    </div>
  </div>
</div>