{% load static %}
<div class="container-fluid bg-2 text-left">
  <h4>
  Moteur de recherche
  <span class="badge badge-info">24h</span>
  <span class="badge badge-pill badge-primary">1440€</span>
  </h4>
  <details>
  <summary>
  <b>Explorer la richesse du corpus DocTocToc.</b>
  </summary>
  <p>Les tweets ne font que passer, pourtant les dizaines de milliers de
  réponses aux questions #DocTocToc fourmillent d'informations utiles qui ne
  périment pas en quelques jours. L'interface de recherche de Twitter n'est pas
  pratique et elle ne filtre pas le SpamTocToc. Nous souhaitons donc construire
  un véritable moteur de recherche pour retrouver des informations pertinentes
  dans le corpus. Si vous le souhaitez, le bot pourra vous informer qu'une
  question similaire à la votre a déjà été posée en vous envoyant 1 lien vers
  les réponses les plus pertinentes déjà apportées par la communauté.
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left">
  <h4>
  Question anonyme
    <span class="badge badge-info">16h</span>
    <span class="badge badge-pill badge-primary">800€</span>
  </h4>
  <details>
  <summary>
  <b>Préserver le secret médical et faciliter l'accès à l'entraide pour tous les
  professionnels de santé.</b>
  </summary>
  <p>
  Certains professionnels de santé hésitent à avoir recours à Twitter pour
  poser des questions sur des cas cliniques pour des raisons de confidentialité.
  Ils tweetent sous leur vrai nom ou ont 1 vaste réseau et craignent une levée
  de l'anonymat.
  D'autres hésitent à ouvrir un compte sur Twitter. Nous voulons
  leur permettre de poser une question par l'intermédiaire du bot ou du site.
  Le bot, après vérification de la profession, transmettra les questions et les
  réponses, servant d'intermédiaire de confiance entre ces professionnels et la
  communauté DocTocToc.
  Nous espérons aussi qu'après avoir bénéficié de l'aide de la communauté via
  cet outil, certains soignants réticents finiront par franchir le pas et nous
  rejoindre!
   </p>
   </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>

<div class="container-fluid bg-2 text-left">
  <h4>
  Relayer les comptes protégés
    <span class="badge badge-info">7h</span>
    <span class="badge badge-pill badge-primary">420€</span>
  </h4>
  <details>
  <summary>
  <b>
  Offrir la possibilité aux utilisateurs ayant protégé leurs tweets de
  diffuser leurs questions au-delà de leur cercle de followers.
  </b>
  </summary>
  <p>
  Certains professionnels de santé ont choisi de protéger leurs tweets. Leurs
  messages sont donc accessibles uniquement à leurs followers.
  @DocTocTocBot ne peut pas retweeter leurs questions. Nous pouvons écrire du
  code pour relayer leurs tweets #DocTocToc, selon une technique similaire à
  celle du développement des questions anonymes.
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>

<div class="container-fluid bg-1 text-left">
  <h4>
  Booster une question
  <span class="badge badge-info">5h</span>
  <span class="badge badge-pill badge-primary">300€</span></h4>
  <details>
  <summary>
  <b>Démocratiser l'accès à l'entraide: que vous ayez 20 ou 20k followers,
  le bot rediffusera votre question jusqu'à ce que vous obteniez 1 réponse.</b>
  </summary>
  <p>
  Les questions n'ayant obtenu aucune réponse ou un faible nombre de réponses
  seront rediffusées par le bot à une heure de grande écoute. Les algorithmes
  détermineront le nombre total de réponses (pas celui indiqué par Twitter qui
  ne tient compte que des réponses de niveau 1, pas des réponses aux réponses)
  et le meilleur moment pour rediffuser les questions.
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>

<div class="container-fluid bg-2 text-left"> 
  <h4>
  Recherche scientifique & thèse
  <span class="badge badge-info">20h</span>
  <span class="badge badge-pill badge-primary">1200€</span>
  </h4>
  <details>
  <summary>
  <b>Médecine et réseaux sociaux: construire des outils open source innovants pour
  la recherche.</b>
  </summary>
  <p>
  Le bot pourra proposer aux professionnels de santé de participer à des
  études scientifiques d'intérêt général ou à des thèses de médecine.
  Seuls les projets de recherche publics ou dont la majorité du financement est
  indépendant des firmes pourront proposer des études. Pour les thèses, nous
  accepterons tout projet qui s'engage à publier l'article ou la thèse et les
  résultats en accès libre sur le web au plus tard un an après la soutenance
  (OpenAccess, OpenData).
  Chaque projet devra être soumis aux professionnels de santé utilisateurs du
  bot pour approbation.
  Chaque professionnel pourra choisir de ne pas recevoir de propositions à
  participer aux thèses et/ou aux études.
  Nous aiderons les thésards à comprendre les subtilités des données stockées
  par Twitter, à requêter le corpus des questions et à utiliser
  les bibliothèques de visualisation des données et nos algorithmes open source
  d'analyse des données. La plupart des thésards n'ont pas accès à des développeurs
  pour leur thèse. Nous serons là pour leur apporter notre expertise.
  Aidez-nous à promouvoir la recherche indépendante en médecine et notamment en
  médecine générale!
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left">
  <h4>
  Hébergement bot <a href="https://twitter.com/doctoctocbot">@DocTocTocBot</a> & site web <a href="https://doctoctoc.net">docotoctoc.net</a>
  <span class="badge badge-pill badge-primary">600€</span>
  </h4>
  <details>
  <summary>
  <b>
  Le code qui fait fonctionner le bot et le site tourne sur des serveurs coûteux.
  Si nous repartissons ce coût entre tous les utilisateurs, il devient modique!
  </b>
  </summary>
  <p>Ce site et le code du bot sont hébergés sur des serveurs, dans 1 datacenter
  de la région parisienne. Il y a 2 serveurs: 1 pour la version de test
  (staging) et 1 pour cette version (production). Nous réalisons également des
  sauvegardes chiffrées de la base de données PostgreSQL qui ont 1 coût.
  Nos serveurs recherchent des données sur le web, requêtent les API Twitter et
  analysent ces données 24h/24 et 7j/7.
  Les applications web du site s'adaptent à chaque visiteur
  connecté, calculent des données et affichent des pages personnalisées.
  Nos serveurs sont gourmands en mémoire et en bande passante.
  Le coût total initial est d'environ 50€ par mois. Le coût exact sera publié chaque
  mois.
  Il pourrait augmenter en fonction de la popularité du hashtag et du site.
  Merci de nous aider à payer les factures!
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-2 text-left">
  <h4>
  Suivi d'1 question DocTocToc
  <span class="badge badge-info">4h</span>
  <span class="badge badge-pill badge-primary">240€</span>
  </h4>
  <details>
  <summary>
  <b>
  Envoyer un rappel invitant à informer la communauté de l'évolution d'1 cas
  clinique ou de la pertinence des réponses apportées.
  </b>
  </summary>
  <p>
  Si les échanges DocTocToc sont utiles pour la personne qui pose la question,
  ils le sont également pour les personnes qui apportent des réponses ou lisent
  les échanges. Ces situations cliniques sont autant d'occasions d'apprendre et
  de se former. Il est utile de connaître l'évolution d'1 démarche diagnostique
  ou thérapeutique et d'avoir un retour à distance qui confirme ou infirme les
  suggestions de la communauté. Nous proposons de coder un algorithme qui
  tentera de déterminer si un retour a été fait par l'auteur de la question. Si
  ce n'est pas le cas et si l'utilisateur donne son accord, il recevra une
  semaine après la publication initiale un message privé l'invitant à le faire.
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left">
  <h4>
  Maintenance du code et des serveurs
  <span class="badge badge-info">52h</span>
  <span class="badge badge-pill badge-primary">3120€</span>
  </h4>
  <details>
  <summary>
  <b>
  Corriger les bugs, mettre à jour les logiciels et les serveurs.
  </b>
  </summary>
  <p>
  Imaginons que nous décidions de ne plus faire évoluer le bot et le site web:
  le simple fait de maintenir
  leur fonctionnement à l'identique en préservant les données du corpus (qui ne
  cesse d'augmenter) ainsi que les données personnelles des utilisateurs
  nécessite un travail de maintenance régulier.
  <ul>
  <li>Correction des bugs</li>
  <li>Mises à jour de sécurité des logiciels utilisés par le code</li>
  <li>Mises à jour de sécurité des logiciels faisant tourner les serveurs</li>
  <li>Sauvegarde des données</li>
  </ul>
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<div class="container-fluid bg-1 text-left" id="project-moderation">
  <h4>
  Modération collective
  <span class="badge badge-info">40h</span>
  <span class="badge badge-pill badge-primary">2400€</span>
  <div class="progress w-25 my-2">
  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
  </div>
  </h4>
  <details>
  <summary>
  <b>
  Une solution technique pour filtrer collectivement les tweets qui ne
  proviennent pas des professionnels de santé.
  </b>
  </summary>
  <h5> Pourquoi une modération? </h5>
    <p>
    Un des objectifs du bot est de filtrer les tweets qui ne proviennent pas des
    professionnels de santé: demandes de conseil, publicité, promotion, spam.
    </p>
  <h5>Comment ça fonctionne?</h5>
    <p>
    La modération ne se fait pas au niveau de chaque tweet mais au niveau du
    compte Twitter. Le modérateur détermine si l'auteur d'1 tweet est
    1 professionnel de santé exerçant 1 profession admise à être retweetée
    (pour l'instant, sages-femme et médecins et dès que possible, pharmaciens).
    Ensuite, nous comptons sur le professionnalisme de chacun pour
    une utilisation raisonnée du hashtag si possible conforme aux usages admis
    tels qu'ils sont décrits dans nos recommandations de bonne pratique.
    </p>
  <h5>Qui modère?</h5>
   <p>
   Depuis juillet 2017, un seul modérateur (Jérôme Pinguet alias @MedecineLibre)
   a vérifié la qualité de médecin ou de sage-femme de chaque compte Twitter
   utilisant le #DocTocToc.
   Il a vérifié 730 médecins, 22 sages-femmes et 32 pharmaciens.
   Il a déterminé que 463 comptes Twitter avaient tenté d'obtenir
   un ou plusieurs conseils médicaux et que 11 comptes utilisaient le hashtag
   à des fins publicitaires.
   Au total il y a eu 1399 modérations.
   Chaque modération prend entre 30 secondes pour les cas les plus évidents
   (comptes connus, suivis par de très nombreux médecins) et jusqu'à 5 minutes
   dans les cas les plus complexes
   (comptes avec peu d'activité, peu de followers, tweetant peu de sujets médicaux).
   Le travail de modération accompli depuis la création du bot a occupé
   son créateur entre 30 et 40 heures.
   Ce modèle de modération centralisée sur 1 seule personne est chronophage
   et n'est pas pérenne. Il n'est pas non plus conforme à la tradition
   d'auto-organisation et de décentralisation de la communauté DocTocToc.
   Nous avons donc commencé à développer 1 système de modération collective.
   </p>
  <h5>Vers la modération collective</h5>
  <p>
  Depuis mai 2018 un groupe d'une dizaine de professionnels de santé volontaires
  réfléchit à la mise en place de la modération collective.
  Nous avons formalisé nos règles de modération.
  Techniquement, le code du bot détectera toute question provenant
  d'1 utilisateur qui n'a pas été modéré et le bot enverra 1 DM à l'un des
  modérateurs. Voici le prototype d'un tel DM (Direct Message).
  </p>
  <a href="#" data-toggle="modal" data-target="#pop-up-moderation">
  
  <img src="{% static "crowdfunding/images/moderation.png" %}" width="480" class=".img-thumbnail mb-2" alt="modération collective de @DocTocTocBot par DM">
  </a>
  
  <!--  Modal content for the mixer image example -->
  <div id="pop-up-moderation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
        <img src="{% static "crowdfunding/images/moderation.png" %}" class="img-responsive" alt="modération collective de @DocTocTocBot par DM">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal mixer image -->
  
  <p>
  Dans la version finale, le DM sera accompagné d'1 lien vers une page créée à
  la volée sur le site doctoctoc.net comportant des aides à la modération.
  Par exemple, une sélection de tweets de l'utilisateur comportant
  des mots-clefs tels que "médecine", "patient", "médecin", où la fréquence
  de termes techniques médicaux relevée dans ses derniers tweets publics.
  Cette page indiquera aussi le nombre de followers ou de followés exerçant
  chaque profession.
  </p>
  <p>
  Le modérateur pourra temporiser s'il n'a pas de temps à consacrer à
  la modération ou passer la main s'il n'arrive pas à modérer.
  Il pourra aussi indiquer sur un planning les heures, les jours ou les périodes
  de l'année où il ne souhaite pas être sollicité.
  </p>
  <h5>
  Comment participer à la modération collective?
  </h5>
  <p>
  Envoyez 1 DM au bot qui vous ajoutera au DM collectif des modérateurs.
  </p>
  <h5>Lancement</h5>
  <p>
  La modération collective est bien avancée, 90% du travail a déjà été accompli.
  Elle deviendra bientôt une réalité grace à votre participation et aussi grâce
  à votre contribution financière.
  Votre investissement permettra au développeur de consacrer encore plus
  de temps à la programmation de cette nouvelle fonctionnalité de @DocTocTocBot.
  Merci.
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div>
<!--div class="container-fluid bg-1 text-left">
  <h4>
  ...
  <span class="badge badge-info">4h</span>
  <span class="badge badge-pill badge-primary">240€</span>
  </h4>
  <details>
  <summary>
  <b>
  ...
  </b>
  </summary>
  <p>
  ...
  </p>
  </details>
  <a href="#donate" class="btn btn-outline-primary">Je soutiens!</a>
</div-->