<div class="btn-group flex-wrap" data-toggle="buttons" id="amount-radio-group">
<div class="custom-control custom-radio">
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option10" class="custom-control-input"> 10€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option25" class="custom-control-input"> 25€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option50" class="custom-control-input"> 50€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option75" class="custom-control-input"> 75€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option100" class="custom-control-input"> 100€
  </label>
    <label class="btn btn-primary">
    <input type="radio" name="option" id="option250" class="custom-control-input"> 250€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option500" class="custom-control-input"> 500€
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="option" id="option1000" class="custom-control-input"> 1000€
  </label>
</div>
</div>