{% load static %}
{% static "doctocnet/piggy-bank-bot-2.jpg" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image_url %}
{% with twitter_site="@DocTocTocBot" twitter_creator="@MedecineLibre" og_url="https://doctoctoc.net/financement/" og_title="🤖 Financement @DocTocTocBot" og_description="Financez votre bot d'entraide pour qu'il reste libre, ouvert, indépendant et sans publicité!" og_image=og_image_url %}
{% include "doctocnet/twitter_opengraph.html" %}
{% endwith %}
{% endwith %}
