{% load static %}
{% load landing_tags %}
{% if not user.is_authenticated %}
  <div class="container-fluid">
  <p>
  Vous avez un compte sur {% site_text %}? Merci de vous
  <a href="{% url 'login' %}?next={% url 'crowdfunding:start' %}">
  connecter!
  </a>
  Si vous avez déjà participé, un compte a été créé automatiquement.
  Merci de réinitialiser votre mot de passe via la page de
  <a href="{% url 'login' %}?next={% url 'crowdfunding:start' %}">connexion</a>.
  <p>
  <p>Si vous n'êtes pas authentifié·e, veuillez simplement choisir un nom d'utilisateur et indiquer votre email.
  Un compte sera créé automatiquement pour que vous puissiez obtenir votre facture dans votre espace utilisateur.
  Nous vous enverrons un mail de confirmation.
  </div>
{% endif %}
