{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% load users %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block head_css %}
{{ block.super }}
{% endblock head_css %}

{% block head_javascript %}
{{ block.super }}
{% endblock head_javascript %}

{% block content %}
{% include "landing/usernav.html" %}
{% if success_message %}
  <p>{{ success_message }}</p>
  <p>Merci de conseiller à la personne que vous venez d'inviter de vérifier le contenu du dossier 'courrier indésirable' ou 'spam' de sa boîte mail. Le mail d'invitation en provenance de l'adresse <i>noreply@doctoctoc.net</i> pourrait s'y trouver.</p>   
{% elif allowed %}
  <p>Vous pouvez inviter un professionnel de santé à rejoindre notre communauté.</p>
  {% load crispy_forms_tags %}
  {% crispy form %}
{% else %}
  Vous n'êtes pas autorisé à envoyer une invitation.
{% endif %} 
{% endblock %}