{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load userstats %}
{% load cache %}
{% load static %}

{% block head_meta %}
{% static "doctocnet/bot_logo_400x400.jpg" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image_url %}
{% with twitter_site="@DocTocTocBot" twitter_creator="@MedecineLibre" og_url="https://doctoctoc.net" og_title="DocTocToc.net" og_description="Votre réseau social professionnel libre, ouvert, indépendant et sans publicité." og_image=og_image_url %}
{{ block.super }}
{% include "doctocnet/twitter_opengraph.html" %}
{% endwith %}
{% endwith %}
{% endblock head_meta %}

{% block title %}{% trans view.title %}{% endblock title %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

{% cache display_cache frontpage LANGUAGE_CODE %}

<div class="container-fluid">
  {% include "landing/funding.html" %}
  <div class="row">
    <div class="col">
      {% with display.last as tweet_lst %}
      <h2><a href="{% url "display:last" %}">Last</a></h2>
      {% include "display/tweet.html" %}
      {% endwith %}
    </div>
    <div class="col">
      {% with display.help as tweet_lst %}
      <h2><a href="{% url "display:help" %}">Help</a></h2>
      {% include "display/tweet.html" %}
      {% endwith %}    
    </div>
    <div class="col">
      {% with display.top as tweet_lst %}
      <h2><a href="{% url "display:top" %}">Top</a></h2>
      {% include "display/tweet.html" %}
      {% endwith %}    
    </div>

  </div>
</div>

{% endcache %}

{% endblock %}