{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load cache %}
{% load static %}
{% load landing_tags %}
{% load opengraph_tags %}

{% block head_meta %}
{{ block.super }}
<!-- opengraph -->
{% opengraph %}

{% block style %}
  <style>
  </style>
{{ block.super }}  
{% endblock style %}

{% endblock head_meta %}

{% block title %}{% trans "Home" %}{% endblock title %}

{% block content %}

  <div class="container">
  {% include "landing/funding.html" %}

      <ul class="nav nav-pills bg-light d-xl-none">
        <li class="nav-item">
          <a class="nav-link" href="#last">{% blocktrans %}Last {{ hashtag_lst_or }} tweets{% endblocktrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#covid19">{% trans "Last #covid19 tweets" %}</a>
        </li>
      </ul>

    <div class="container">
    <div class="row">

     {% get_current_language as LANGUAGE_CODE %}
     <!-- outside display cache {% now "jS F Y H:i:s" %} -->
     <!-- LANGUAGE_CODE: {{ LANGUAGE_CODE }} -->
     {% cache display_cache frontpage cache_uid %}
     <!-- inside display cache {% now "jS F Y H:i:s" %} -->
     <!-- TTL: {{ display_cache }} -->
      <div id="last" class="col">
        {% with display.last as tweet_lst %}
        <span class="badge badge-secondary">{% blocktrans %}Latest {{ hashtag_lst_or }} tweets{% endblocktrans %}</span>
        {% include "display/tweet.html" %}
        <a href="{% url "display:last" %}" class="btn btn-outline-primary btn-sm">{% blocktrans %}See more {{ hashtag_lst_or }} tweets{% endblocktrans %}</a>
        {% endwith %}
      </div>
      <div id="covid19" class="col">
        {% with display.covid19 as tweet_lst %}
        <span class="badge badge-warning">{% trans "#covid19 tweets" %}</span>
        {% include "display/tweet.html" %}
        <a href="{% url "display:covid19" %}" class="btn btn-outline-primary btn-sm" role="button">{% trans "See more #covid19 tweets" %}</a>
        {% endwith %}    
      </div>
      <!--
      <div class="col">
        {% with display.help as tweet_lst %}
        <h2><a href="{% url "display:help" %}">Help</a></h2>
        {% include "display/tweet.html" %}
        {% endwith %}    
      </div>
      <div class="col">
        {% with display.top as tweet_lst %}
        <h2><a href="{% url "display:top" %}">Top</a></h2>
        {% include "display/tweet.html" %}
        {% endwith %}    
      </div>
      -->
    </div>
    </div>
    {% endcache %}
  </div>
{% endblock content %}