{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load cache %}
{% load static %}
{% load landing_tags %}
{% load opengraph_tags %}

{% block head_meta %}

{% block head_css %}
{{ block.super }}
<link rel='stylesheet' href='{% static "conversation/scroll/build/bundle.css" %}'>
<link rel='stylesheet' href='{% static "conversation/scroll/global.css" %}'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<style>
.panel-title {
  position: relative;
}
.panel-title::after {
  content: "\f107";
  color: #333;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome"
}
.panel-title[aria-expanded="true"]::after {
  content: "\f106";
}
.panel-heading-full.panel-heading {
  padding: 0;
}
.panel-heading-full .panel-title {
  padding: 10px 15px;
}
.panel-heading-full .panel-title::after {
  top: 10px;
  right: 15px;
}
</style>
{% endblock head_css %}

{{ block.super }}
<!-- opengraph -->
{% opengraph %}

{% block style %}
  <style>
  </style>
{{ block.super }}  
{% endblock style %}

{% block head_javascript %}
{{ block.super }}  
{% endblock head_javascript %}

{% endblock head_meta %}

{% block title %}{% trans "Home" %}{% endblock title %}

{% block content %}

  <div class="container my-1">
  {% include "landing/funding.html" %}
  {% if not user.is_authenticated %}
    {% include "landing/sign_in.html" %}
  {% endif %}
    <div class="container">
    <div class="row">
     {% get_current_language as LANGUAGE_CODE %}
     <!-- outside display cache {% now "jS F Y H:i:s" %} -->
     <!-- LANGUAGE_CODE: {{ LANGUAGE_CODE }} -->
     <!-- inside display cache {% now "jS F Y H:i:s" %} -->
     <!-- TTL: {{ display_cache }} -->
     <main></main>
     <script type="text/javascript" src="{% static "conversation/scroll/build/bundle.js" %}"></script>
    </div>
    </div>
  </div>
{% endblock content %}