{% load static %}
{% load tz %}
{% for tweet in tweet_lst %}
  <twitter-widget class="twitter-tweet twitter-tweet-rendered"
    id="twitter-widget-0"
    style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"
    data-tweet-id="{{ tweet.statusid }}">
  <style type="text/css">
.SandboxRoot {
	display: none;
	max-height: 10000px;
}
</style>
  <div data-twitter-event-id="0" class="SandboxRoot env-bp-350"
    style="position: relative;">
    <div
      class="EmbeddedTweet EmbeddedTweet--cta js-clickToOpenTarget tweet-InformationCircle-widgetParent"
      data-click-to-open-target="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.statusid }}"
      data-iframe-title="Twitter Tweet" data-scribe="page:tweet"
      id="twitter-widget-0" data-twitter-event-id="1" lang="en">
      <div class="EmbeddedTweet-tweetContainer">
        <div class="EmbeddedTweet-tweet">
          <blockquote class="Tweet h-entry js-tweetIdInfo subject expanded"
            cite="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.statusid }}"
            data-tweet-id="{{ tweet.statusid }}" data-scribe="section:subject">
            <div class="Tweet-header">
              <a class="TweetAuthor-avatar  Identity-avatar u-linkBlend"
                data-scribe="element:user_link"
                href="https://twitter.com/{{ tweet.screen_name }}"
                aria-label="{{ tweet.name }} (screen name: {{ tweet.screen_name }})"><img
                class="Avatar" data-scribe="element:avatar"
                data-src-2x="{{ tweet.biggeravatar }}"
                alt=""
                data-src-1x="{{ tweet.normalavatar }}"
                src="{{ tweet.biggeravatar }}"></a>
              <div class="TweetAuthor js-inViewportScribingTarget"
                data-scribe="component:author">
                <a class="TweetAuthor-link Identity u-linkBlend"
                  data-scribe="element:user_link"
                  href="https://twitter.com/{{ tweet.screen_name }}"
                  aria-label="{{ tweet.name }} (screen name: {{ tweet.screen_name }})">
                  <div class="TweetAuthor-nameScreenNameContainer">
                    <span class="TweetAuthor-decoratedName"> <span
                      class="TweetAuthor-name Identity-name customisable-highlight"
                      title="{{ tweet.name }}" data-scribe="element:name">{{ tweet.name }}</span>
                    </span> <span class="TweetAuthor-screenName Identity-screenName"
                      title="@{{ tweet.screen_name }}" data-scribe="element:screen_name"
                      dir="ltr">@{{ tweet.screen_name }}</span>
                  </div>
                </a>
              </div>
              <div class="Tweet-brand">
                <a
                  href="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.statusid }}"
                  data-scribe="element:logo"><span class="FollowButton-bird"><div
                      class="Icon Icon--twitter " aria-label="View on Twitter"
                      title="View on Twitter" role="presentation"></div> </span></a>
              </div>
            </div>
            <div class="Tweet-body e-entry-content"
              data-scribe="component:tweet">
              <div class="u-hiddenVisually js-inViewportScribingTarget"></div>
              <p class="Tweet-text e-entry-title" dir="ltr" lang="fr">{{ tweet.text }}</p>
              <div class="TweetInfo">
                <div class="TweetInfo-like">
                  <a class="TweetInfo-heart" title="Like"
                    href="https://twitter.com/intent/like?tweet_id={{ tweet.statusid }}"
                    data-scribe="component:actions">
                    <div data-scribe="element:heart">
                      <div class="Icon Icon--heart " aria-label="Like"
                        title="Like" role="img"></div>
                    </div> <span class="TweetInfo-heartStat"
                    data-scribe="element:heart_count">{{ tweet.like }}</span>
                  </a>
                </div>
                <div class="TweetInfo-like">
                  <a class="TweetInfo-heart" title="Retweet"
                    href="https://twitter.com/intent/retweet?tweet_id={{ tweet.statusid }}"
                    data-scribe="component:actions">
                    <div data-scribe="element:heart">
                      <div class="Icon Icon--retweet " aria-label="Retweet"
                        title="Retweet" role="img"></div>
                    </div> <span class="TweetInfo-heartStat"
                    data-scribe="element:heart_count">{{ tweet.retweet }}</span>
                  </a>
                </div>
                <div class="TweetInfo-like">
                  <a class="TweetInfo-heart" title="Replies"
                    href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.statusid }}"
                    data-scribe="component:actions">
                    <div data-scribe="element:heart">
                      <div class="Icon Icon--reply " aria-label="Reply"
                        title="Reply" role="img"></div>
                    </div> <span class="TweetInfo-heartStat"
                    data-scribe="element:heart_count">{{ tweet.reply }}</span>
                  </a>
                </div>
                {% if tweet.node %}
                <div class="TweetInfo-like">
                  <a class="TweetInfo-heart" title="Nodes"
                    href="#"
                    data-scribe="component:actions">
                    <div data-scribe="element:heart">
                      <div class="Icon Icon--node " aria-label="Nodes"
                        title="Nodes" role="img"></div>
                    </div> <span class="TweetInfo-heartStat"
                    data-scribe="element:heart_count">{{ tweet.node }}</span>
                  </a>
                </div>
                {% endif %}
                <div class="TweetInfo-timeGeo">
                  <a
                    class="u-linkBlend u-url customisable-highlight long-permalink"
                    data-datetime="1970-01-01T00:00:00+0000"
                    data-scribe="element:full_timestamp"
                    href="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.statusid }}">
                    <time class="dt-updated" datetime="1970-01-01T00:00:00+0000"
                      pubdate=""
                      title="Time posted: {{ tweet.utcdatetime }} (UTC)">{{ tweet.utcdatetime|localtime }}</time>
                  </a>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
        <a class="CallToAction"
          title="View {{ tweet.name }}'s profile on Twitter"
          href="https://twitter.com/{{ tweet.screen_name }}"
          data-scribe="section:cta component:news">
          <div class="CallToAction-icon" data-scribe="element:profile_icon">
            <div class="Icon Icon--profileCTA "
              aria-label="View profile on Twitter"
              title="View profile on Twitter" role="img"></div>
          </div>
          <div class="CallToAction-text" data-scribe="element:profile_text">See
            {{ tweet.name }}'s other Tweets</div>
          <div class="CallToAction-chevron" data-scribe="element:cta_chevron">
            <div class="Icon Icon--chevronRightCTA "
              aria-label="View on Twitter" title="View on Twitter" role="img"></div>
          </div>
        </a>
      </div>
      <div class="tweet-InformationCircle" data-scribe="element:notice">
        <a href="https://support.twitter.com/articles/20175256"
          class="Icon Icon--informationCircleWhite js-inViewportScribingTarget"
          title="Twitter Ads info and privacy"><span
          class="u-hiddenVisually">Twitter Ads info and privacy</span></a>
      </div>
    </div>
    <div class="resize-sensor"
      style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
      <div class="resize-sensor-expand"
        style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
        <div
          style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 510px; height: 242px;"></div>
      </div>
      <div class="resize-sensor-shrink"
        style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
        <div
          style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="{% static 'display/tweet.css' %}" />
  </twitter-widget>
{% endfor %}