<p>Version du 15/05/2019.</p>
<h2 id="catégories">Catégories</h2>
<h3 id="paramédical">Paramédical</h3>
<pre><code>AS, ambu, diét, ergo, psychomot, manip, orthophoniste/ptiste, podo</code></pre>
<ul>
<li>Aide-soigant</li>
<li>Diététicien</li>
<li>Ergothérapeute</li>
<li>Psychomotricien</li>
<li>Manipulateur radiologie</li>
<li>Orthophoniste</li>
<li>Orthoptiste</li>
<li>Podologue</li>
</ul>
<h3 id="chirurgien-dentiste">Chirurgien-dentiste</h3>
<h3 id="étudiant-en-médecine">Étudiant en médecine</h3>
<h3 id="sage-femme">Sage-femme</h3>
<h3 id="ide">IDE</h3>
<ul>
<li>IDE (Infirmier Diplomé d’Etat)</li>
<li>IDE/IPA (Infirmier de Pratique Avancée)</li>
</ul>
<h3 id="non-professionnel-de-santé">Non pro(fessionnel de santé)</h3>
<p>Anciennement: ‘<em>Patient</em>’</p>
<p>N’est pas 1 pro de santé et ne rentre dans aucune autre catégorie.</p>
<p>Si vous avez 1 doute et que vous n’arrivez pas à trouver une catégorie pour l’auteur d’1 question, le mieux est de choisir cette catégorie.</p>
<h3 id="pharmacien">Pharmacien</h3>
<h3 id="préparateur-en-pharmacie">Préparateur en pharmacie</h3>
<pre><code>Préparateur en pharmacie, physicien médical</code></pre>
<h3 id="kinésithérapeute">Kinésithérapeute</h3>
<h3 id="médecin">Médecin</h3>
<p>A partir du statut d’interne ou FFI (période entre l’examen ECN et le début de l’internat).</p>
<h3 id="spam">Spam</h3>
<p>Compte faisant la promotion d’1 produit ou d’1 service.</p>
<h3 id="collectifs">Collectifs</h3>
<pre><code>ordre, asso, société savante...</code></pre>
<p>Compte collectif représentant un Ordre professionnel, une association de professionnels de santé ou une société savante.</p>
<h2 id="dm-quick-reply">DM Quick Reply</h2>
<div>
<a href="/static/landing/quick-reply.png"><img class="img-fluid" src="/static/landing/quick-reply.png" alt="Quick Reply DM"></a>
</div>
<p>Pour voir apparaître les boutons correspondant aux différents choix, le DM Quick Reply doit être le dernier message dans votre liste de DM. Si le bot vous envoie plusieurs modérations à la suite, il suffit de répondre à la dernière (chronologiquement) puis d’effacer votre réponse (elle est enregistrée par Twitter dès qu’une marque “check” apparaît: vous pouvez l’effacer sans crainte une seconde ou deux après l’avoir envoyée) et les DM du bot jusqu’au DM QuickReply correspondant à la modération précédente. Les boutons apparaitront et vous pourrez modérer.</p>
<p>Remarque: quand vous sélectionnez le bouton “Médecin”, votre réponse semble n’être qu’une chaîne de caractères “Médecin”. En réalité, dans les coulisses, des métadonnées (notamment une chaîne unique identifiant la modération) est transmise au bot. Si vous écrivez vous même “Médecin”, le bot ne saura pas à quelle modération cette réponse est déstinée et ne pourra pas prendre en compte votre réponse. Il est nécessaire de passer par les boutons Quick Reply.</p>
<p>A l’avenir, nous mettrons en place une page sur le site pour chaque modération avec davantage d’informations. Vous aurez le choix de modérer via DM Quick Reply ou via cette page (un lien vers la page sera indiqué dans chaque DM).</p>
<h2 id="liens-vers-1-recherche-twitter">Liens vers 1 recherche Twitter</h2>
<p>Des liens vers 1 recherche Twitter sur des mots clefs seront bientôt ajoutés au contenu du DM.</p>
<ul>
<li>médecin</li>
<li>patient</li>
<li>pharmacien</li>
<li>sage-femme</li>
<li>kiné</li>
<li>IDE</li>
</ul>
<p>Ils permettront d’avoir rapidement des informations sur la profession du twitto. Vous pouvez dès maintenant effectuer une recherche parmi tous les tweets passés d’1 compte en entrant par exemple ceci dans la recherche:</p>
<p><code>from:@nomducompte médecin</code></p>
<p><span class="citation" data-cites="nomducompte">@nomducompte</span> ici est le login Twitter (exemple: <span class="citation" data-cites="doctoctocbot">@doctoctocbot</span>). Ce n’est pas le nom de fantaisie (exemple: #DocTocToc Bot ) qui s’affiche en grands caractères dans le profil. Souvent un twitto dit lui-même quelle est ou quelle n’est pas sa profession: “je ne suis pas médecin mais (insérer le contenu de la recherche Google)”, “je suis kiné”, etc.</p>
<h2 id="liens-sociaux">Liens sociaux</h2>
<p>Nous vous fournissons un graphique qui rend compte de l’analyse du réseau social de l’auteur d’un tweet #DocTocToc.</p>
<h3 id="followers">Followers</h3>
<div>
<a href="/static/landing/doctoctocbot.jpeg"><img class="img-fluid" src="/static/landing/doctoctocbot.jpeg" alt="followers of @DocTocTocBot"></a>
</div>
<p>Vous connaitrez le nombre et le pourcentage de followers (abonné·e·s) qui sont des utilisateurs vérifiés, et leur répartition parmi les différentes catégories de professionnels de santé. Ca vous donnera une bonne orientation sur sa profession.</p>
<h3 id="friends">Friends</h3>
<p>Nous fournirons bientôt une analyse comparable pour les abonnements (friends) du compte à modérer.</p>
<p>Notez que les personnes qui suivent beaucoup de médecins mais qui ne sont pas suivies par beaucoup de médecins sont souvent des personnes intéressées par la médecine (ou par les conseils médicaux gratuits) mais ne sont pas forcément des médecins.</p>
<h2 id="je-passe">Je passe</h2>
<p>Un bouton “Je passe” sera ajouté. Utilisez le pour indiquer que vous ne pensez pas avoir de temps à consacrer à cette modération dans l’heure qui suit. Nous transmettrons à un autre modérateur.</p>
<p>En attendant merci d’écrire “Je passe”. Les DM Twitter ont une fonctionnalité anti-spam peu connnue: si votre interlocuteur envoie 5 messages et que vous ne répondez pas, il ne peut plus envoyer de message supplémentaire tant que vous n’avez pas répondu. Il suffit d’envoyer au moins 1 caractère ou 1 emoji au hasard, n’importe lequel, mais il faut 1 réponse, sinon <span class="citation" data-cites="DocTocTocBot">@DocTocTocBot</span> ne peut plus vous envoyer de modération et la modération reste en suspens. Merci.</p>
<h2 id="pause">Pause</h2>
<h3 id="via-dm-quickreply">Via DM QuickReply</h3>
<p>Nous ajouterons des boutons “Pause” (1 jour, 1 semaine) pour indiquer que vous ne serez pas disponible pendant ce laps de temps.</p>
<h3 id="via-le-site">Via le site</h3>
<p>Disponible dès maintenant dans l’onglet <em>Modération</em> de l’espace utilisateur du site, un interrupteur pour suspendre et reprendre la modération collective quand vous le souhaitez. Vous devez vous connecter via Twitter pour vous authentifier et accéder à votre espace utilisateur.</p>
<div>
<a href="/static/landing/images/moderation-switch.png"><img class="img-fluid" src="/static/landing/images/moderation-switch.png" alt="moderation switch"></a>
</div>
<p>Dans le futur il sera possible de choisir votre planning de modération à la carte via l’espace utilisateur du site web.</p>
<h2 id="doute">Doute</h2>
<p>En cas de doute, posez votre question dans le DM collectif des modérateurs.</p>
<h2 id="urgence">Urgence</h2>
<p>En cas de tweet ou de conversation DocTocToc qui vous semble très problématique, en plus d’en parler sur le DM collectif, merci de prévenir <span class="citation" data-cites="medecinelibre">@medecinelibre</span> par DM ou via le formulaire de contact du site. Nous vous fournirons des outils de modération des tweets (annulation d’1 RT) dès que possible.</p>
