<h2 id="indépendance">Indépendance</h2>
<p>Nous souhaitons préserver les utilisateurs des applications doctoctoc.net de l’influence des firmes intervenant dans le domaine de la santé.</p>
<p>Nous refusons les avantages en nature, dons et subventions de firmes intervenant dans le domaine de la santé ou d’autres organismes susceptibles de poursuivre d’autres intérêts que ceux de nos utilisateurs.</p>
<h2 id="ouverture">Ouverture</h2>
<p>Les services proposés par le bot <span class="citation" data-cites="DocTocTocBot">@DocTocTocBot</span> resteront pour toujours ouverts à tous les professionnels de santé qui participent ou ont participé aux conversations DocTocToc via leurs questions ou leurs réponses.</p>
<p>De même, tous les services proposés sur le site doctoctoc.net qui existent grâce au corpus DocTocToc resteront pour toujours librement accessibles à ces professionnels de santé.</p>
<h2 id="financement">Financement</h2>
<p>Nous souhaitons que 100% du financement provienne de nos utilisateurs. Nous lançons une campagne de financement participatif pour l’année 2019. Merci pour votre investissement financier.</p>
<p>DocTocToc.net a besoin de ressources pour financer:</p>
<ul>
<li>recherche &amp; développement
<ul>
<li>veille scientifique</li>
<li>veille technologique</li>
<li>futurs outils de communication</li>
</ul></li>
<li>programmation
<ul>
<li>robot Twitter</li>
<li>applications web</li>
</ul></li>
<li>hébergement, maintenance, administration
<ul>
<li>serveur web</li>
<li>serveur mail</li>
</ul></li>
</ul>
<h3 id="financement-participatif">Financement participatif</h3>
<p>Afin d’assurer notre indépendance et notre pérennité, les financements sont limités à 1000€ par an et par personne physique ou morale. Nous refusons les financements en provenance des entreprises produisant, distribuant ou faisant la promotion de:</p>
<ul>
<li>produit de santé
<ul>
<li>médicament</li>
<li>dispositif médical</li>
</ul></li>
<li>matériel médical</li>
<li>logiciel médical (exception: logiciel libre et open source)</li>
<li>service numérique destiné aux professionnels de santé (exception: service numérique basé à 100% sur du code libre et open source)</li>
<li>autre service destiné aux professionnels de santé</li>
<li>organisme de développement professionnel continu (exception: organisme à but non lucratif et indépendant des firmes)</li>
</ul>
<h3 id="autres-sources-de-financement">Autres sources de financement</h3>
<p>Dans le futur, si les ressources issues du financement participatif ne sont pas suffisantes pour financer notre projet, nous pourrions être amenés à proposer d’autres services non liés à la communauté DocTocToc susceptibles de générer des revenus. Ces services seront toujours basés sur du logiciel libre et open source.</p>
<ul>
<li>vidéoconférence chiffrée et sécurisée</li>
<li>messagerie médicale chiffrée et sécuriséé</li>
<li>autres services compatibles avec nos engagements et nos valeurs</li>
</ul>
<h2 id="publicité">Publicité</h2>
<p><span class="citation" data-cites="DocTocTocBot">@DocTocTocBot</span> ne diffusera jamais de publicité.</p>
<p>Le site doctoctoc.net ne diffusera jamais de publicité.</p>
<h2 id="transparence">Transparence</h2>
<ul>
<li>100% du code et des algorithmes sous licence libre et open source</li>
<li>revenus issus du financement participatif publiés en temps réel</li>
</ul>
<h2 id="pérennité">Pérennité</h2>
<ul>
<li>Code libre publié sur 1 dépôt public
<ul>
<li>pas de privatisation possible</li>
<li>disponibilité assurée même en cas de disparition de l’entreprise qui édite le site</li>
</ul></li>
</ul>
<h2 id="confidentialité">Confidentialité</h2>
<p>Nous nous engageons à préserver et protéger vos données personnelles. Voir notre <a href="https://doctoctoc.net/privacy">politique de confidentialité</a>.</p>
