{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load landing_tags %}
{% load landing_links %}
{% load opengraph_tags %}
{% block title %}Foire aux Questions{% endblock title %} 
{% block content %}
<h2>Foire aux questions</h2>
<div class="container-fluid bg-2 text-left">
  <details>
  <summary>
  <b>Comment être retweeté par le bot?</b>
  </summary>
  <ol>
  <li>Être {% retweeted_category_or %}</li>
  <li>Suivre {% bot_link_text %}</li>
  <li>Inclure le hashtag {% hashtag_lst_or %}</li>
  <li>Rédiger votre question (avec un point d'interrogation) dans un tweet</li>
  <li>Ne pas mentionner un compte au tout début du tweet (ceci est considéré par Twitter comme une réponse)</li>
  <li>Suivre les <a href="{% url 'landing:guidelines' %}">recommandations de bonne pratique</a></li>
  </ol>
  Si vous pensez que votre tweet aurait dû être retweeté ou que ces conditions
  ou les recommandations de bonne pratique doivent évoluer, n'hésitez pas à
  nous contacter via DM ou via notre formulaire de contact. Nos règles tentent
  de refléter au mieux les usages de la communauté {% hashtag %} et de défendre ses intérêts.
  Elles sont décidées collectivement et doivent évoluer selon les souhaits de la communauté.
  </details>
</div>
<div class="container-fluid bg-1 text-left">
  <details>
  <summary>
  <b>
  Comment vous contacter via Twitter?
  </b>
  </summary>
  <p>
  Le compte du bot est mentionné plus d'une centaine de fois par jour car chaque
  réponse à une question retweetée par le bot entraîne une mention. Il est impossible
  de vérifier chaque mention pour savoir si c'est une réponse à une question {% hashtag %}
  ou bien si c'est une question posée à l'équipe {% bot_link_text %}.
  Nous vous invitons donc à envoyer un DM à {% bot_link_text %}.
  Si vous souhaitez discuter avec nous publiquement sur votre TL, il suffit
  d'envoyer un DM avec le lien vers votre question publique.
  Nous vous répondrons avec plaisir... si nous savons qu'une question nous a été posée!
  </p>
  </details>
</div>
<div class="container-fluid bg-1 text-left">
  <details>
  <summary>
  <b>
  Puis-je diffuser mon questionnaire de thèse ou de mémoire en utilisant le hashtag {% hashtag_lst_or %}?
  </b>
  </summary>
  <p>
  {% hashtag %} est une communauté professionnelle d'entraide basée sur le principe de la réciprocité: un professionnel demande de l'aide à la communauté en posant une question et il apporte son aide en répondant aux questions de ses collègues. Un thésard ou un chercheur peut demander un retweet pour un questionnaire s'il prend les deux engagements suivants qui assurent cette réciprocité. Nous pourrons répéter la diffusion du questionnaire plusieurs fois si vous le souhaitez.

<h3>1. Libérer l'accès au résultat</h3>

Le thésard ou le chercheur s'engage à publier son travail (thèse ou article) sur une page web accessible à tous, sans paywall, au plus tard un an après la soutenance de sa thèse ou un mois après la publication de son article. Nous encourageons les auteurs d'articles à mettre à disposition de la communauté une version e-print (preprint) avant même sa publication.

Nous leur recommandons dans la mesure du possible de publier leur travail avec une licence libre pour faciliter la diffusion du savoir scienfique. Un exemple de licence libre est la licence <a href="https://creativecommons.org/licenses/by-sa/2.0/deed.fr">CreativeCommons Attribution - Partage dans les Mêmes Conditions (CC BY-SA)</a>.

<h3>2. Informer la communauté</h3>

Le thésard, après publication de la thèse ou de son article, s'engage à écrire un tweet qui répond au tweet (ou au thread) initial où il a soumis le questionnaire pour informer de la publication de son travail. Ce tweet doit inclure un lien vers la thèse ou l'article en libre accès. Il pourra aussi informer les modérateurs de la communauté en DM pour qu'ils puissent diffuser le lien.
    </p>
  </details>
</div>
{% endblock content %}