{% extends "doctocnet/base.html" %}
 {% load i18n %}
{% block title %}Foire aux Questions{% endblock title %} 
{% block content %}
<h2>Foire aux questions</h2>
<div class="container-fluid bg-2 text-left">
  <details>
  <summary>
  <b>Comment être retweeté par le bot?</b>
  </summary>
  4 conditions:
  <ol>
  <li>Être médecin ou sage-femme</li>
  <li>Suivre le bot</li>
  <li>Poser une question (avec un point d'interrogation)</li>
  <li>Suivre les recommandations de bonne pratique</li>
  </ol>
  Si vous pensez que votre tweet aurait dû être retweeté ou que ces conditions
  ou les recommandations de bonne pratique doivent évoluer, n'hésitez pas à
  nous contacter via DM ou via notre formulaire de contact. Nos règles tentent
  de reflêter au mieux les usages de la communauté DocTocToc et de défendre ses intérêts.
  Elles sont décidées collectivement et doivent évoluer selon les souhaits de la communauté.
  </details>
</div>
<div class="container-fluid bg-1 text-left">
  <details>
  <summary>
  <b>
  Comment vous contacter via Twitter?
  </b>
  </summary>
  <p>
  Le compte du bot est mentionné plus d'une centaine de fois par jour car chaque
  réponse à une question retweetée par le bot entraîne une mention. Il est impossible
  de vérifier chaque mention pour savoir si c'est une réponse à une question DocTocToc
  ou bien si c'est une question posée à l'équipe @DocTocTocBot.
  Nous vous invitons donc à envoyer un DM à @DocTocTocBot.
  Si vous souhaitez discuter avec nous publiquement sur votre TL, il suffit
  d'envoyer un DM avec le lien vers votre question publique.
  Nous répondrons avec plaisir... si nous savons qu'une question nous a été posée!
  </p>
  </details>
</div>
{% endblock content %}