{% extends "doctocnet/base.html" %}
{% load i18n %}
{% load opengraph_tags %}
{% block head_meta %}
{{ block.super }}
{% trans "About us" as the_title %}
{% trans "Learn more about the people serving this community and those building its tools." as the_description %}
{% with og_title=the_title og_description=the_description %}
{% opengraph %}
{% endwith %}
{% endblock head_meta %}

{% block content %}

<h1>{% block title %} {% trans "About us" %} {% endblock title %}</h1>

{% include "landing/about/content.html" %}

{% endblock content %}

