{% extends "doctocnet/base.html" %}

{% load static %}
{% load opengraph_tags %}
{% load i18n %}

{% load landing_links %}
{% load landing_tags %}
{% load community_text %}
{% load opengraph_tags %}

{% block head_meta %}

{% static "landing/images/medica_400x400.png" as og_image_static %}
{% with request.scheme|add:"://"|add:request.get_host|add:og_image_static as og_image %}
{% with request.build_absolute_uri as og_url %}
{% trans "{medica} messenger" as og_title %}
{% trans "{medica} messenger = element + medica.im + [matrix] = secure messaging" as og_description %}
{{ block.super }}
{% opengraph %}
{% endwith %}
{% endwith %}
<meta property="og:type" content="website">
<link rel="canonical" href="https://doctoctoc.net/messenger/get-started">
<meta content="Download {medica} messenger with secure end-to-end encryption messaging and video chat. Available on Web, Android, iOS, macOS, Windows &amp; Linux." name="description">
<meta content="Download {medica} messenger with secure end-to-end encryption messaging and video chat. Available on Web, Android, iOS, macOS, Windows &amp; Linux." property="og:description">
{% endblock head_meta %}

{% block head_css %}
{{ block.super }}
  <link href="{% static '/landing/css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/landing/css/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/landing/css/messenger.css' %}" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script src="{% static '/landing/javascript/0e9e3ad57abeefde87342864450cc232.js' %}" type="text/javascript"></script>
  <!--link href="images/favicon.png" rel="shortcut icon" type="image/x-icon"-->
  <!--link href="images/webclip.png" rel="apple-touch-icon"-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
{% endblock head_css %}

{% block head_javascript %}
  {{ block.super }}
  <script async="" defer="" src="https://cdnjs.cloudflare.com/ajax/libs/github-buttons/2.11.2/buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <!--script src="/js/cookie-consent.js"></script-->
{% endblock head_javascript %}

  
{% block style %}
{{ block.super }}
#modal {
-webkit-overflow-scrolling: touch;
}
{% endblock style %}

{% block footer_javascript %}
  {{ block.super }}
  <script src="{% static '/landing/javascript/messenger.js' %}" type="text/javascript"></script> 
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
  // Prevents body scroll on desktop only
  Webflow.push(function() {
    $('#open__linux').click(function(e) {
      e.preventDefault();
      $('body').css('overflow', 'hidden');
    });
    $('#modal--close--light').click(function(e) {
      e.preventDefault();
      $('body').css('overflow', 'auto');
    });
  });
  </script>
  <script>
  // Prevents body scroll on mobile only (including iOS) 
  (function () {
    var _overlay = document.getElementById('modal');
    var _clientY = null; // remember Y position on touch start
    _overlay.addEventListener('touchstart', function (event) {
        if (event.targetTouches.length === 1) {
            // detect single touch
            _clientY = event.targetTouches[0].clientY;
        }
    }, false);
    _overlay.addEventListener('touchmove', function (event) {
        if (event.targetTouches.length === 1) {
            // detect single touch
            disableRubberBand(event);
        }
    }, false);
    function disableRubberBand(event) {
        var clientY = event.targetTouches[0].clientY - _clientY;
        if (_overlay.scrollTop === 0 && clientY > 0) {
            // element is at the top of its scroll
            event.preventDefault();
        }
        if (isOverlayTotallyScrolled() && clientY < 0) {
            //element is at the top of its scroll
            event.preventDefault();
             }
    }
    function isOverlayTotallyScrolled() {
        // https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight#Problems_and_solutions
        return _overlay.scrollHeight - _overlay.scrollTop <= _overlay.clientHeight;
    }
  }())
  </script>
  {% endblock footer_javascript %}