
   <div data-w-id="966edbd4-af45-08fa-669a-8c0363895677" class="nav">
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav__web w-nav">
      <div class="nav__web__wrap">
        <div class="nav__web__wrap__l">
          <a href="/" class="nav__web__wrap__l__logo w-nav-brand"><img src="images/logo-ele-secondary.svg" alt="" class="footer__col--logo__img header--logo--img"></a>
        </div>
        <div class="nav__web__wrap__r">
          <nav role="navigation" class="nav__web__wrap__menu w-nav-menu">
            <div data-hover="1" data-delay="0" class="nav__dropd w-dropdown">
              <div class="nav__dropd__toggle w-dropdown-toggle">
                <div class="nav__dropd__toggle__img w-icon-dropdown-toggle"></div>
                <div class="nav__dropd__toggle_text">Products</div>
              </div>
              <nav class="nav__dropd__content w-dropdown-list">
                <div class="nav__dropd__content__pointer">
                  <div class="nav__dropd__content__wrapper">
                    <a href="{% url 'landing:messenger-features' %}" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">Element</div>
                        <div class="nav__dropdown__content__details">Messaging apps for iOS, Android, web &amp; desktop.</div>
                      </div>
                    </a>
                    <a href="{% url 'landing:messenger-matrix-store' %}" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">{medica} App Store</div>
                        <div class="nav__dropdown__content__details">Let your conversations speak to as many tools as you do.</div>
                      </div>
                    </a>
                    <div class="nav__dropd__content__footer">
                      <a href="#" class="nav__dropd__content__footer__link w-inline-block">
                        <div class="nav__dropd__content__footer__link__text">View all Matrix Services</div>
                      </a>
                    </div>
                  </div>
                  <div class="pointer"></div>
                </div>
              </nav>
            </div>
            <div data-hover="1" data-delay="0" class="nav__dropd w-dropdown">
              <div class="nav__dropd__toggle w-dropdown-toggle">
                <div data-w-id="966edbd4-af45-08fa-669a-8c03638956a6" class="nav__dropd__toggle__img w-icon-dropdown-toggle"></div>
                <div>Why Element?</div>
              </div>
              <nav class="nav__dropd__content dropdown-long w-dropdown-list">
                <div class="nav__dropd__content__pointer">
                  <div class="dropdown-wrapper-flex">
                    <div class="dropdown-column-left">
                      <a href="{% url 'landing:messenger-why-medica' %}" class="nav__dropd__content__link w-inline-block">
                        <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                        <div class="nav__dropd__content__text">
                          <div class="nav__dropdown__content__title">What makes Element different?</div>
                        </div>
                      </a>
                      <a href="{% url 'landing:messenger-personal' %}" class="nav__dropd__content__link w-inline-block">
                        <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                        <div class="nav__dropd__content__text">
                          <div class="nav__dropdown__content__title">Personal</div>
                          <div class="nav__dropdown__content__details">Element for everyone</div>
                        </div>
                      </a>
                      <a href="{% url 'landing:messenger-communities' %}" class="nav__dropd__content__link w-inline-block">
                        <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                        <div class="nav__dropd__content__text">
                          <div class="nav__dropdown__content__title">Communities</div>
                          <div class="nav__dropdown__content__details">By a community, for communities</div>
                        </div>
                      </a>
                      <a href="{% url 'landing:messenger-pro' %}" class="nav__dropd__content__link w-inline-block">
                        <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                        <div class="nav__dropd__content__text">
                          <div class="nav__dropdown__content__title">Business</div>
                          <div class="nav__dropdown__content__details">Universal secure collaboration</div>
                        </div>
                      </a>
                      <a href="{% url 'landing:messenger-collaboration-federation' %}" class="nav__dropd__content__link w-inline-block">
                        <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                        <div class="nav__dropd__content__text">
                          <div class="nav__dropdown__content__title">Public sector</div>
                          <div class="nav__dropdown__content__details">Secure collaboration for public bodies</div>
                        </div>
                      </a>
                    </div>
                    <div class="nav__dropd__content__right display__none">
                      <div class="nav__dropd__content__right__item"><img src="images/Mozilla_logo.svg" alt="" class="nav__dropd__content__right__img">
                        <div class="nav__dropd__content__right__text">Safer spaces for software communities.</div>
                        <a href="#" class="nav__dropd__content__footer__link w-inline-block">
                          <div class="nav__dropd__content__footer__link__text">Learn More</div>
                        </a>
                      </div>
                      <div class="nav__dropd__content__right__item"><img src="images/dinum.png" alt="" class="nav__dropd__content__right__img">
                        <div class="nav__dropd__content__right__text">DINUM is nombre un! Viva la revolución. D&#x27;accord. </div>
                        <a href="#" class="nav__dropd__content__footer__link w-inline-block">
                          <div class="nav__dropd__content__footer__link__text">Learn More</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="pointer"></div>
                </div>
              </nav>
            </div>
            <a href="{% url 'landing:messenger-pricing' %}" class="nav__web__wrap__menu__link w-nav-link">Pricing</a>
            <div data-hover="1" data-delay="0" class="nav__dropd w-dropdown">
              <div class="nav__dropd__toggle w-dropdown-toggle">
                <div class="nav__dropd__toggle__img w-icon-dropdown-toggle"></div>
                <div>Resources</div>
              </div>
              <nav class="nav__dropd__content w-dropdown-list">
                <div class="nav__dropd__content__pointer">
                  <div class="nav__dropd__content__wrapper">
                    <a href="{% url 'landing:messenger-open-source' %}" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">Open source</div>
                        <div class="nav__dropdown__content__details">{medica} is committed to open source</div>
                      </div>
                    </a>
                    <a href="{% url 'landing:messenger-help' %}" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">Help</div>
                        <div class="nav__dropdown__content__details">Find the answers</div>
                      </div>
                    </a>
                    <a href="/about" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">About</div>
                        <div class="nav__dropdown__content__details">More context about why Element came to be</div>
                      </div>
                    </a>
                    <a href="/contact" class="nav__dropd__content__link w-inline-block">
                      <div class="nav__dropd__content__icon display--none"><img src="images/element-logo.svg" alt="" class="nav__dropd__content__icon__img"></div>
                      <div class="nav__dropd__content__text">
                        <div class="nav__dropdown__content__title">Contact</div>
                        <div class="nav__dropdown__content__details">Get in touch</div>
                      </div>
                    </a>
                    <div class="nav__dropd__content__footer">
                      <a href="#" class="nav__dropd__content__footer__link w-inline-block">
                        <div class="nav__dropd__content__footer__link__text">View all resources</div>
                      </a>
                    </div>
                  </div>
                  <div class="pointer"></div>
                </div>
              </nav>
            </div>
          </nav>
          <div class="nav__web__wrap__cta">
            <a href="{% url 'landing:messenger-get-started' %}" aria-current="page" class="nav__web_wrap__cta__btn nav--hero--btn w-button w--current">Get {medica}</a>
          </div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" role="banner" class="nav__mob w-nav">
      <div class="navigation-container-mob">
        <a href="/" class="w-nav-brand"><img src="images/logo-ele-secondary.svg" alt="" class="img--nav-bar-mobile-logo"></a>
        <nav role="navigation" class="mobile-nav w-nav-menu">
          <div data-delay="0" class="mobile-dropdown w-dropdown">
            <div class="mobile-toggle w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>Products</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="{% url 'landing:messenger-features' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">{medica}</div>
                  <div class="text__small text__small--0-7">Messaging apps for iOS, Android, web &amp; desktop</div>
                </div>
              </a>
              <a href="/element-matrix-store" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Element App Store</div>
                  <div class="nav__dropdown__content__details">Let your conversations speak to as many tools as you do</div>
                </div>
              </a>
            </nav>
          </div>
          <div data-delay="0" class="mobile-dropdown w-dropdown">
            <div class="mobile-toggle w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>Why Element?</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="{% url 'landing:messenger-why-medica' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">What makes Element different?</div>
                </div>
              </a>
              <a href="{% url 'landing:messenger-personal' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Personal</div>
                  <div class="nav__dropdown__content__details">Element for everyone</div>
                </div>
              </a>
              <a href="{% url 'landing:messenger-communities' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Communities</div>
                  <div class="nav__dropdown__content__details">By a community, for communities</div>
                </div>
              </a>
              <a href="{% url 'landing:messenger-pro' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Business</div>
                  <div class="nav__dropdown__content__details">Universal Secure Collaboration</div>
                </div>
              </a>
              <a href="{% url 'landing:messenger-collaboration-federation' %}" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Public sector</div>
                  <div class="nav__dropdown__content__details">Secure collaboration for public bodies</div>
                </div>
              </a>
            </nav>
          </div>
          <a href="{% url 'landing:messenger-pricing' %}" class="mobile-nav-link w-nav-link">Pricing</a>
          <div data-delay="0" class="mobile-dropdown w-dropdown">
            <div class="mobile-toggle w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>Resources</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="/open-source" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Open Source</div>
                  <div class="nav__dropdown__content__details">Element is committed to open source</div>
                </div>
              </a>
              <a href="/help" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Help</div>
                  <div class="nav__dropdown__content__details">Find the answers</div>
                </div>
              </a>
              <a href="/about" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">About</div>
                  <div class="nav__dropdown__content__details">Why Element came to be</div>
                </div>
              </a>
              <a href="/contact-us" class="dropdown-link-mobile w-inline-block">
                <div class="nav__dropd__content__text">
                  <div class="nav__dropdown__content__title">Contact Us</div>
                  <div class="nav__dropdown__content__details">Get in touch</div>
                </div>
              </a>
            </nav>
          </div>
          <a href="/get-started" aria-current="page" class="mobile-nav-link mobile-nav-link--primary cta__btn--primary w-nav-link w--current">Get {medica} messenger</a>
        </nav>
        <div class="menu-mob w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
 